{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html>
  <head>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_messages %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'experiments/css/app.css' %}"/>
    <script src="{% static 'experiments/js/app.js' %}"></script>
    <script src="{% static 'experiments/js/vendor.js' %}"></script>
    <title>CAP-Recruiter</title>
  </head>
  <body class="{{user_type}}">
    {% block content %}
    {% endblock content %}
    {% include "footer.html" %}
  </body>
</html>
