{% load tags %}

<footer class="page-footer font-small blue fixed-bottom">
  <div align="center" id="log-entries" style="border-radius: 5px 5px 0px 0px; width: 70%; margin: auto; text-align: center; color: white; display: none; border-top: 1px solid orange; border-right: 1px solid orange; border-left: 1px solid orange; background-color: #343a40">
  </div>
  <div class="footer-copyright text-center bg-dark" style="color: white; font-size: smaller;">
    <span class="footer-copyright bg-dark {{django_env}}" style="padding-left: 5px; padding-right: 5px; float: left;">{% autoescape off %}{% git_info %}{% endautoescape %}
    </span>
    <span class="footer-copyright bg-dark" style="padding-right: 5px; float: left;">
      Built with Python {% get_python_version %} and Django/Channels {% get_django_version %}/{% get_channels_version %}</span>
  </div>
  <div class="footer-copyright text-center bg-dark" style="color: white; font-size: smaller;">
    <span class="footer-copyright bg-dark" style="padding-left: 5px; padding-right: 5px; float: right;">
        &copy; {% now "Y" %}&nbsp;
        <a class="footer-copyright {{django_env}}" href="https://www.aesthetics.mpg.de/en/research/research-group-computational-auditory-perception.html" style="float: right;"> Computational Auditory Perception Research Group</a>
    </span>
  </div>
</footer>
