{% load tags %}

<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top" style="clear: both; height: 40px; padding-left: 18px;">
  <a class="navbar-brand {{django_env}}" href="/">CAP Recruiter</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu" style="padding: 0; height: 10px"><span class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav mr-auto">
      {% for menu_item in menu_items %}
        {% if menu_item.show %}
          <li class="nav-item" style="margin-left: 15px;">
            {% active_menu_item menu_item.url request.path as is_active_menu_item %}
            <a class="nav-link{% if is_active_menu_item %} active{% else %}{% endif %}" href="{{menu_item.url}}">
              {{menu_item.title}}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item text-nowrap">
      <div id="log-entries-last" class="nav-link" style="cursor: pointer; color: white; float: right;"></div>
    </li>
    <li class="nav-item text-nowrap">
      {% if user.is_authenticated %}
        <div href="/logout" class="nav-link" style="float: right;">
          <span style="cursor: pointer;" onclick="location='/accounts/logout'">Logout</span>
        </div>
      {% else %}
        <span id="login-btn" class="login-btn nav-link" style="cursor: pointer;">Login</span>
      {% endif %}
    </li>
  </ul>
</nav>
