{% load tags %}
<span style="white-space: nowrap;">
  <span class="sort_{{ sort_by }} desc sort_link"><i class="fas fa-caret-down fa-lg" style="margin: 0px" title="Sort by {{ sort_by|format_sort_title }}"></i></span><span class="sort_{{ sort_by }} asc sort_link"><i class="fas fa-caret-up fa-lg" style="margin: 0px" title="Sort by {{ sort_by|format_sort_title|safe }}"></i></span>
</span>
