{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}
  {% include "../header.html" %}
  {% if user.is_authenticated %}
    {% if user.is_superuser %}
      <div class="justify-content-center" style="display: flex; margin-top: 50px;">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header"><h5 style="margin-bottom: 0px;"><b>Edit Group</b></h5></div>
            <div class="card-body">
              <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="form-group">
                  <label for="id_description" class="initial_test_experiment">Initial test experiment</label>
                  {{group_manager}}
                  <select name="initial_test_experiment" class="form-control initial_test_experiment" title="Initial test experiment" id="id_initial_test_experiment" style="cursor: pointer;">
                    <option style="cursor: pointer;"></option>
                    {% for initial_test_experiment in initial_test_experiments %}
                      <option value="{{initial_test_experiment.id}}" style="cursor: pointer;" {% if initial_test_experiment.id == initial_test_experiment_id %}selected{% endif %}>
                        {{initial_test_experiment.title}}
                      </option>
                    {% endfor %}
                  </select>
                  {% buttons %}
                  <br>
                  <button type="submit" class="btn btn-success" style="float: right; margin-left: 15px;">Save</button>
                  <button type="button" class="btn btn-secondary" style="float: right;" onclick="history.back()">Cancel</button>
                  {% endbuttons %}
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <span class="frontend-module" data-name="superuser/notifications"></span>

      <script>
        wsProtocol = '{{ws_protocol}}';
        wsHost = '{{ws_host}}';
        customUserId = {{custom_user_id}};
        $("#id_consent").parent().append('<button class="btn btn-primary" id="consent-link-button" style="margin-top: -64px; margin-left: 200px;">Display consent</button>');
        $("#consent-link-button").on("click", function(e) {
          window.open("/consent?consent=" + $("#id_consent").find(':selected').val()); e.preventDefault();
        });
      </script>
    {% endif %}
  {% else %}
    {% include "not_logged_in.html" %}
  {% endif %}
{% endblock content %}
