{% load static %}
<style>
  .logo {
    display: block;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }
</style>
<img src="{% static 'images/princeton-consent.png' %}" alt="Princeton University adult consent form" class="logo">
<p style="line-height: 120%; margin-top: 20px;">
  <font face="Times New Roman, serif">TITLE OF RESEARCH: </font>Studying Perceptual Biases<br>
  <font face="Times New Roman, serif">PRINCIPAL INVESTIGATOR:</font> Thomas Griffiths<br>
  <font face="Times New Roman, serif">PRINCIPAL INVESTIGATOR’S DEPARTMENT: </font>Psychology
</p>

<p style="line-height: 100%; margin-top: 20px;"><font face="Times New Roman, serif">You
are being invited to register in a participant database. Before you
decide to participate, we would
like to inform you about the personal data we collect when you
register for our participant pool and for what purposes we process
this data. In addition, we would like to inform you about your rights
with regard to the processing of personal data.</span></font></p>

<p style="line-height: 100%;"><font face="Times New Roman, serif">Please
take the time to read the following information carefully. Please ask
the researcher if there is anything that is not clear or if you need
more information.</font></p>

<p style="line-height: 100%; margin-top: 30px;"><font face="Times New Roman, serif"><u><b>Purpose
of the research:</b></u></font></p>

<p style="line-height: 100%;">The
purpose of this project is to find a subject pool to study how people
from different places in the world experience sounds (e.g., speech,
music) and images (e.g., faces, color).</p>
<p style="line-height: 100%;"><font face="Times New Roman, serif"><span lang="en-US">We
store and process your data only for the purpose of initiating
communication with you and for planning studies at the Princeton
University and our collaborator, Max Planck Institute for Empirical
Aesthetics (MPIEA). </span></font><font face="Times New Roman, serif"><span lang="en-US"><b>This
data will never be shared with third parties.</b></span></font><font face="Times New Roman, serif"><span lang="en-US">
</span></font><font face="Times New Roman, serif"> </font>
</p>

<p style="line-height: 100%; margin-top: 30px;"><font face="Times New Roman, serif"><u><b>Study
Procedures: </b></u></font>
</p>
<p style="line-height: 100%;">If
you volunteer to participate in registering for our database, you
will consent to communications informing you about experimental
studies that you can participate in. In these studies, you will be
asked to perform simple tasks while listening to sounds or observing
images or videos. For example, you may be asked to judge how pleasant
a particular sound or an image is, or to categorize sounds or images,
or to judge other basic features of sounds or images. The specific
sounds, images, and videos used will vary, but may include:
recordings of ambient sounds, noise-bursts, speech, music, simple
tones, naturalistic images, animated images, comics, faces, objects,
geometric shapes, fractal images, or videos of natural
environments.
</p>

<p style="line-height: 100%;"><font face="Times New Roman, serif"><span lang="en-US">In
addition to your contact details (i.e., name and email) and the
demographic data requested in the log in (i.e., age, gender, and
nationality), we also store the date and time when you made the
entry. In addition, we save the date and time when you verified your
email address. If we invite you to participate in a study, we will
store the date and time of this communication. If you agree to
participate, we also will store the date and time of your
communication of this choice, and whether you completed the
experiment successfully or not.</span></font></p>

<p style="line-height: 100%;"><font face="Times New Roman, serif"><span lang="en-US">Of
course, before you participate in a study, you will be informed in
detail about the procedure of the study and the collection of data
during the study. Your consent to participate in a study will be
obtained separately for each study you participate in. </span></font><font face="Times New Roman, serif">If
an experiment is collecting data that cannot be fully anonymized, we
will inform you and also ask for additional consent. Consenting to
these additional requirements is also fully voluntary. </font><font face="Times New Roman, serif"><b>These
include experiments where we make audio-visual recordings or where we
need your contact details to contact you in the future to take
another experiment.</b></font></p>

<p style="line-height: 100%;"><font face="Times New Roman, serif">Finally,
</font><font face="Times New Roman, serif"><b>in some experiments you
may be asked to make a voice or video recording</b></font><font face="Times New Roman, serif">,
for example, you may be asked to record your finger-tapping in
response to a sound or video, or to record yourself speaking or
singing. If the experiment will contain these elements, we will ask
for an additional consent. </font>
</p>

<p style="line-height: 100%;"><font face="Times New Roman, serif">Your
participation in this database is voluntary. You are free to refuse
to take part, and </font><font face="Times New Roman, serif"><b>you
may remove yourself from the database at any time without penalty</b></font><font face="Times New Roman, serif">.
</font><font face="Times New Roman, serif"><span lang="en-US">Your
data will be stored in the contact database for as long as the
purpose of such storage, i.e., to contact you about participating in
a study, remains in effect. You may request the deletion of your data
at any time. To do so, send an e-mail with the subject “Delete”
to </span></font><font color="#0000ff"><u><a href="mailto:cap-information@.ae.mpg.de"><font face="Times New Roman, serif"><span lang="en-US">cap-information@.ae.mpg.de</span></font></a></u></font><font face="Times New Roman, serif"><span lang="en-US">.
Your personal data will then be deleted immediately. You can also
delete your data from the database by deleting your account (i.e.,
press &quot;Delete account” in the cap-recruiter log-in page). Note
that all information, including the experiment and payment history
will be removed from our database.</span></font></p>

<p style="line-height: 100%; margin-top: 30px;"><font face="Times New Roman, serif"><u><b>Benefits
and Risks: </b></u></font>
</p>
<p style="line-height: 100%;">There
are no direct benefits to you as a participant; however, by
furthering our understanding of human cognition, this research will
benefit society by helping understand explore the evolutionary causes
and consequences of human perception.
</p>
<p style="line-height: 100%;">Risks
associated with participation in this study are minimal. You may feel
slight discomfort answering some questions, or responding to stimuli,
but you may refrain from any action that makes you uncomfortable and
may withdraw your participation at any time, even after completing
the experiment, without penalty.
</p>

<p style="line-height: 100%; margin-left: 1in; text-indent: -1in; margin-top: 30px;">
<font face="Times New Roman, serif"><u><b>Confidentiality:</b></u></font><font face="Times New Roman, serif"><i><u><b>
</b></u></i></font>
</p>
<p style="line-height: 100%;">The
data entered in the form you will fill out are transferred in
encrypted form to an internal server. We will then send you an e-mail
with a confirmation link to verify your e-mail address.
</p>

<p style="line-height: 100%;"><font face="Times New Roman, serif"><span lang="en-US">We
take all necessary technical and organizational security measures to
protect your personal data from loss and abuse. Your data are stored
in a secure operating environment that is not accessible to the
public. All connections between your computer and the web server are
encrypted.</span></font></p>

<p style="line-height: 100%;"><font face="Times New Roman, serif">All
of the information we obtain during the research will be kept
confidential. We will only save your anonymized alpha numeric code in
our system, in order to distinguish participants who have already
taken part in this or other experiments. This code will not be used
to derive your real identity, will not be shared with anyone outside
of the research team and will be deleted after use. Although
researchers will not use your alpha numeric code to derive your real
identity, this record could be linked in some cases to your public
profile page if a data breach takes place. Thus, you may wish to
restrict what information you choose to share publicly.</font></p>

<p style="line-height: 100%;"><font face="Times New Roman, serif">For
the purpose of helping scientific progress and replication, sometimes
we may share the data with research collaborators. In these cases, we
will only share fully anonymized data, such as demographic,
aggregated, or extracted data without any personal identifiers.</font></p>

<p style="line-height: 100%; margin-left: 1in; text-indent: -1in; margin-top: 30px;">
<font face="Times New Roman, serif"><u><b>Compensation:</b></u></font></p>
<p style="line-height: 100%;">For
your participation, you will receive variable payments based on the
experiments you choose to participate in.
</p>
<p style="line-height: 100%;"><font face="Times New Roman, serif"><span lang="en-US">We
will not store any banking information or payment information in our
system.  However, we do store completion records and payment details
of every task you completed. This information will be available for
you to review it when you login to the database. Based on this
information we allow you to receive payment via an external system,
Zelle. It is your responsibility to make sure you can receive payment
through this system and that you would want to consent to use it.
This system supports transferring money to most banks around the
world, please search your bank in their website to ensure that you
will be able to receive payment prior to taking part in our
experiments. We also recommend checking the term of service and its
privacy statement and see if you consent to use their system for
payment.</span></font></p>
<p style="line-height: 100%;"><font face="Times New Roman, serif"><span lang="en-US">If
you cannot or would not like to receive payment via this system, we
would not be able to pay you, however you can still participate in
our experiments voluntarily, without payment. In this case you will
not receive any compensation for your time. </span></font>
</p>

<p style="line-height: 100%;"><font face="Times New Roman, serif">If
you have any questions about the database, feel free to contact the
researcher Raja Marjieh, at </font><font color="#0000ff"><u><a href="mailto:rm5855@princeton.edu"><font face="Times New Roman, serif">rm5855@princeton.edu</font></a></u></font><font face="Times New Roman, serif">,
the lab manager Maya Malaviya, at </font><font color="#0000ff"><u><a href="mailto:mayamala@princeton.edu"><font face="Times New Roman, serif">mayamala@princeton.edu</font></a></u></font><font face="Times New Roman, serif">,
or the Principal Investigator, Thomas Griffiths, at
</font><font color="#0000ff"><u><a href="mailto:tomg@princeton.edu"><font face="Times New Roman, serif">tomg@princeton.edu</font></a></u></font><font face="Times New Roman, serif">.</font></p>

<p style="line-height: 100%; margin-top: 30px;"><font face="Times New Roman, serif"><u><b>Who
to contact with questions:</b></u></font></p>
<ol>
    <li>
      <p style="line-height: 100%;"><font face="Times New Roman, serif">PRINCIPAL INVESTIGATOR:</font></p>
      <p style="line-height: 100%;"><font face="Times New Roman, serif"></font>Dr. Thomas Griffiths</p>
      <p style="line-height: 100%;"><font face="Times New Roman, serif"></font><font color="#0000ff"><u><a href="mailto:tomg@princeton.edu"><font face="Times New Roman, serif">tomg@princeton.edu</font></a></u></font><font face="Times New Roman, serif"></font></p>
    </li>
    <li>
      <p style="line-height: 100%; margin-left: 0.31in; text-indent: -0.31in;">
      <font face="Times New Roman, serif">I understand the information
      that was presented and that:</font></p>
      <p style="line-height: 100%;">
      <font face="Times New Roman, serif">
        A. <span style="margin-left: 15px;">
          My participation is voluntary, and I may withdraw my consent and discontinue
      participation in the project<br>
        at any time. My refusal to participate will not result in any penalty.</span></font></p>
      <p style="line-height: 100%; ">
      <font face="Times New Roman, serif">
        B. <span style="margin-left: 15px;">I do not waive any legal rights or release Princeton University, its agents, or you from liability for negligence.</span></font></p>
    </li>
    <li>
      <p style="line-height: 100%;"><font face="Times New Roman, serif">I hereby give my consent to be the subject of your research.</font>
      </p>
    </li>
</ol>

<div title="footer"><p align="center" style="line-height: 100%; margin-top: 0.46in;">
    <font face="Times New Roman, serif"><b>This study has been approved
    by the Institutional Review </b></font><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><b>Board
    for Human Subjects</b></font></font></p>
</div>
