{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}
  {% include "../header.html" %}
  {% if user.is_authenticated %}
    {% if user.is_superuser %}
      <div class="justify-content-center" style="display: flex; margin-top: 50px;">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header"><h5 style="margin-bottom: 0px;"><b>Settings</b></h5></div>
            <div class="card-body">
              <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="form-group">
                  <input id="id_show_log" type="checkbox" name="show_log" {% if editable_settings.show_log %}checked="checked"{% endif %} value="1" style="cursor: pointer;"/>
                  <label for="id_show_log" style="cursor: pointer;">Show log</label>
                </div>
                {% buttons %}
                <button type="submit" class="btn btn-success" style="float: right; margin-left: 15px;">Save</button>
                <button type="button" class="btn btn-secondary" style="float: right;" onclick="history.back()">Cancel</button>
                {% endbuttons %}
              </form>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% else %}
    {% include "not_logged_in.html" %}
  {% endif %}
{% endblock content %}
