{% load utils %}

<div style="background-color: #90e092; padding: 12px; text-align: center;">
  {% if not user.is_verified %}
    <h5 style="font-weight: bold;">
      Please, follow the instructions to confirm your email address in the email which was sent to <i>{{user.email}}</i> !
      <br>
      Once confirmed, you will be presented with a link to an initial test experiment.
    </h5>
    Click the button below in case the page does not refresh automatically.<br>
    <button id="reload-page" class="btn btn-secondary btn-sm" onclick="window.location.reload()">Reload page</button>
  {% else %}
    {% if user.test_task_verified %}
      <h4 style="font-weight: bold;">Available experiments</h4>
      {% if user.group_manager.display_notice %}
        <p>{{user.group_manager.notice|safe}}</p>
      {% endif %}
      {% if not batched_experiments.items %}
        <i>There are no experiments available currently.</i>
      {% else %}
        <table style="margin-left: auto; margin-right: auto;">
          {% for experiment_id, experiment_batches in batched_experiments.items %}
            {% if experiment_id in deployed_experiments %}
              {% for batch in experiment_batches.batches %}
              <tr>
                {% assignment_id as assignment_id %}
                {% with experiment=experiment_batches.experiment %}
                <td style="text-align: right; padding: 5px;">
                  <span id="experiment-link-{{experiment.id}}" style="font-size: larger; font-weight: bold; font-family: cursive;">
                    {{experiment.title}}
                  </span>
                  <span style="font-weight: bold;">(~{{experiment.estimated_duration}} mins, expires on {{experiment.expire_date}})</span>
                </td>
                <td>
                  <button class="btn btn-secondary btn-sm experiment-link" data-toggle="modal" data-target="#confirm-experiment-start" data-experiment-id="{{experiment.id}}" data-experiment-url="{{experiment.url}}" data-assignment-id="{{assignment_id}}" data-batch="{{batch}}" data-batches="{{experiment.batches}}" {% if not user.group_manager.enable_experiment_start_buttons %}disabled{% endif %}>Start experiment</button>
                </td>
                {% endwith %}
              </tr>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </table>
      {% endif %}
    {% else %}
      {% if not test_tasks_experiment %}
        <i>There are no experiments available currently.</i>
      {% else %}
        {% if not user.tasks.all %}
          <h4><b>{{test_tasks_experiment.title}}</b></h4>
          Now, before starting real experiments, we need you to complete a test task first. This will only happen once.<br>Click the button below to launch the Task!<br>
          {% assignment_id as assignment_id %}
          <button id="start-test-task" class="btn btn-secondary btn-sm experiment-link" data-toggle="modal" data-target="#confirm-experiment-start" data-experiment-id="{{test_tasks_experiment.id}}" data-experiment-url="{{test_tasks_experiment.url}}" data-assignment-id="{{assignment_id}}" data-batch="1">Start experiment</button>
        {% else %}
          {% if not user.test_task_verified %}
            <span style="font-weight: bold;">In case you failed the test task try again by clicking the button below</span><br>
            <button id="restart-test-task" class="btn btn-secondary btn-sm">Restart experiment</button>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
</div>

<div class="modal fade" id="confirm-experiment-start" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 600px">
    <div class="modal-content">
      <div class="modal-header">
        <h3><b>Only use Chrome browser</b> to participate in the experiment and <b>turn-off your Adblocker</b> if you have it enabled!</h3>
      </div>
      <div class="modal-body">
        <h5>By clicking the <button class="btn btn-success btn-sm experiment-link" style="cursor: default;">Start experiment</button> button a new experiment window will be launched.</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a class="btn btn-lg btn-success btn-start">Start experiment</a>
      </div>
    </div>
  </div>
</div>

<script>
  $(".experiment-link").on('click', function() {
    let experimentUrl = $(this).data("experiment-url");
    let experimentId = $(this).data("experiment-id");
    let batch = $(this).data("batch");
    let batches = $(this).data("batches");
    let workerId = "{{worker_id}}"
    if (batches > 1) {
      workerId = workerId + "-b" + batch;
    }
    let groupManagerCode = '{{user.group_manager_code}}';
    let assignmentId = $(this).data("assignment-id");
    let email = '{{user.email}}';
    let debugMode = {% if django_env == 'development' %}"&mode=debug"{% else %}""{% endif %};

    $('#confirm-experiment-start').on('click', '.btn-start', function(e) {
      $.ajax({
          type: 'GET',
          url: "{% url 'tasks-start' %}",
          data: {"experimentId": experimentId, "groupManagerCode": groupManagerCode, "assignmentId": assignmentId, "batch": batch},
          success: function (response) {
            $("#experiment-link-" + experimentId).remove();
            $("#confirm-start").modal('hide');
            let experimentLink = experimentUrl + "?recruiter={{recruiter}}&workerId=" + workerId + "-" + response.task_id + "&groupId=" + groupManagerCode + "&assignmentId=" + assignmentId + "&hitId=" + response.task_id + "&email=" + email + debugMode
            window.open(experimentLink);
            window.location.reload();
          },
          error: function (response) {
            console.log(response)
          }
        });
    });
  });

  $('#restart-test-task').on('click', function(e) {
    window.location = '/tasks/delete_test_task';
  });
</script>
