{% include "worker/available_experiments.html" %}
{% include "header.html" %}
{% include "worker/profile.html" %}
<div style="float: left; padding-top: 12px; min-width: 600px; width: 40%">
  <h5><b>Consent information</b></h5>
  <div style="padding: 20px; border: black solid 1px; margin-bottom: 50px;">
    {% with template_name=user.group_manager.consent|stringformat:"s"|add:"_consent.html" %}
      {% include template_name %}
    {% endwith %}
  </div>
</div>
