<div id="profile" class="{{user_type}}" style="float: left; background-color: #babbab; margin-right: 15px; padding: 12px; border-bottom: solid black 2px; border-right: solid black 2px;">
  <h5 style="margin-bottom: 15px;"><span style="font-weight: bold;">{{user.full_name}}</span></h5>
  <span style="font-weight: bold;">Recruitment ID</span><br>{{user.worker_id}}<br><br>
  <span style="font-weight: bold;">Email</span>
  <br>
  {{ user.primary_emailaddress.email }}
  <a href="{% url 'account_email' %}" style="text-decoration: underline; color: #464208;" title="Manage your email addresses">
    <i class="fa fa-edit"></i>
  </a>
  {%if user.is_verified %}
    <br>Verified
    <span style="cursor: default; font-size: large; font-weight: bold;">✓</span>
  {% endif %}
  <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirm-account-deletion" style="float: right; margin-top: 40px;">Delete account</button>
  <br style="clear: both;">
  <hr>
  <span style="font-weight: bold;">Group</span>
  <br>
  {{user.group_manager.group_manager_name}}<br>
  {{user.group_manager.full_name}}<br>
  Email: <a href="mailto:{{user.group_manager_email}}" title="Write an email to your group manager" style="text-decoration: underline; color: #464208;"><i class="fa fa-envelope"></i></a>
  <br>
  Code: <span style="font-family: monospace, monospace;">{{user.group_manager_code}}</span>
</div>

<div id="confirm-account-deletion" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>PLEASE, READ CAREFULLY!</h3>
      </div>
      <div class="modal-body">
        By clicking the <i>DELETE MY ACCOUNT</i> button your account data will be permanently erased!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a id="delete-account" class="btn btn-danger btn-start" data-user-id="{{user.id}}">DELETE MY ACCOUNT</a>
      </div>
    </div>
  </div>
</div>

<span class="frontend-module" data-name="worker/profile"></span>
