{% load tags %}
{% load humanize %}
{% include "worker/available_experiments.html" %}
{% include "header.html" %}
{% include "worker/profile.html" %}
<div style="float: left; padding-top: 12px; padding-bottom: 40px;">
  <h5>
    <b>Experiment History ({{tasks|length}} task{{tasks|length|pluralize:"s"}})</b>
  </h5>
  {% if not tasks.all %}
    You haven't taken part in any experiments yet.
  {% else %}
    <table class="styled-table {{user_type}}" style="clear: both; background-color: white;">
      <thead style="height: 1px; line-height: 1px;">
        <tr style="font-weight: bold; color: white;">
          <th style="text-align: center;" rowspan="2">Experiment</th>
          <th colspan="2" style="text-align: center; border-bottom: 2px solid #ddd;  border-right: 2px solid #ddd; border-top: none; margin-right: 13px;">Task</th>
          <th colspan="4" style="text-align: center; border-bottom: 2px solid #ddd; border-top: none;">Payment</th>
          <th></th>
        </tr>
        <tr style="font-weight: bold; color: white; border-bottom: 1px solid #ddd;">
          <th style="text-align: center; border-right: 1px solid #ddd;">Status</th>
          <th style="text-align: center; border-right: 2px solid #ddd;">Duration</th>
          <th style="text-align: center; border-right: 1px solid #ddd;">Base / Bonus</th>
          <th style="text-align: center; border-right: 1px solid #ddd;">Total</th>
          <th style="text-align: center; border-right: 1px solid #ddd;">Paid</th>
          <th style="text-align: center;">Received</th>
          <th></th>
        </tr>
      </thead>
      {% for task in tasks.all %}
      <tr>
        <td>{{task.experiment.title}}</td>
        <td>
          <div class="box-placeholder" style="min-width: 262px;">
            <div class="excerpt">
              <div class="text"></div>
              <div class="text line"></div>
            </div>
          </div>
          <div id="failed-reason-2-{{task.id}}" style="color: red; font-weight: bold; display: none;"></div>
          <div id="failed-reason-1-{{task.id}}" style="display: none;">Experiment failed</div>
          <div id="failed-reason-3-{{task.id}}" style="display: none; border: black solid 1px; padding: 5px;">
            Please contact
            <br>
            <a href="mailto:cap-information@ae.mpg.de">cap-information@ae.mpg.de</a>
            <br>
            if you think this should not have happened.
          </div>
          <span id="completed_at-{{task.id}}"></span>
          <div id="reset_at-{{task.id}}"></div>
          <span id="status-{{task.id}}"></span>
        </td>
        <td id="duration-{{task.id}}">
          {% if task.completed_at %}
            {{task.completed_at|timeuntil:task.started_at}}
          {% else %}
            {{task.failed_at|timeuntil:task.started_at}}
          {% endif %}
        </td>
        <td style="text-align: center;"><span id="base_payment-{{task.id}}">{{task.base_payment|as_dollars}}</span> / <span id="bonus-{{task.id}}">{{task.bonus|as_dollars}}</span></td>
        <td style="text-align: center; font-weight: bold;"><span id="total_payment-{{task.id}}">{{task.base_payment|add:task.bonus|as_dollars}}</span></td>
        <td style="text-align: center;">
          <span id="payment_processed-{{task.id}}" title="Payment processed at {{task.payment.paid_at}}" style="cursor: default; font-size: large; font-weight: bold;">{% if task.payment.state in "paid, received" %}✓{% endif %}</span>
        </td>
        <td style="text-align: center;">
          <span id="payment_received-{{task.id}}" title="Payment received at {{task.payment.received_at}}" style="cursor: default; font-size: large; font-weight: bold;">{% if task.payment.state == "received" %}✓{% endif %}</span>
        </td>
        <td>
          <button type="button" id="payment_done-{{task.id}}" class="btn btn-sm btn-primary" style="display: {% if task.payment.state == 'paid' %}block{% else %}none{% endif %};" onclick="finalize({{task.id}}); return false;">Payment received</button>
        </td>
      </tr>
      {% endfor %}
      <tr id="total-payments-row" style="border-bottom: 2px solid #00ce4c;">
        <td colspan="4" style="text-align: right; font-weight: bold;">Total payments</td>
        <td id="total-payments" style="text-align: center; font-weight: bold; border-top: 1px solid #343a40; border-bottom: 1px solid #343a40; text-decoration: underline;">
          {{user.total_payments|as_dollars}}</td>
        <td colspan="3"></td>
      </tr>
      <tr id="outstanding_payments" style="display: none; border-bottom: 2px solid #00ce4c;">
        <td colspan="4" style="text-align: right; font-weight: bold;">Outstanding payments</td>
        <td id="outstanding_payments_sum" class="test_task_payment" style="text-align: center; font-weight: bold; text-decoration: underline;">
          {{user.outstanding_payments_sum}}
        </td>
        <td colspan="3"></td>
      </tr>
    </table>
  {% endif %}
</div>

<span class="frontend-module" data-name="worker/tasks"></span>

<script>
  wsProtocol = '{{ws_protocol}}';
  wsHost = '{{ws_host}}';
  customUserId = {{custom_user_id}};

  function finalize(task_id) {
    window.location = '/tasks/finalize/' + task_id;
  }
</script>
