{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}
  {% include "../header.html" %}
  {% if user.is_authenticated %}
    {% if user.is_superuser %}
      <div class="justify-content-center" style="display: flex; margin-top: 50px;">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header"><h5 style="margin-bottom: 0px;"><b>Edit Participant</b></h5></div>
            <div class="card-body">
              <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button type="submit" class="btn btn-success" style="float: right; margin-left: 15px;">Save</button>
                <button type="button" class="btn btn-secondary" style="float: right;" onclick="history.back()">Cancel</button>
                {% endbuttons %}
              </form>
            </div>
          </div>
        </div>
      </div>

      <span class="frontend-module" data-name="superuser/notifications"></span>

      <script>
        wsProtocol = '{{ws_protocol}}';
        wsHost = '{{ws_host}}';
        customUserId = {{custom_user_id}};
      </script>
    {% endif %}
  {% else %}
    {% include "not_logged_in.html" %}
  {% endif %}
{% endblock content %}
