{% extends 'base.html' %}

{% load tags %}
{% load bootstrap4 %}

{% block content %}
  {% include "../header.html" %}
  {% if user.is_authenticated %}
    {% if user.is_superuser %}
      <div class="justify-content-center" style="display: flex; margin-top: 50px;">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header"><h5 style="margin-bottom: 0px;"><b>{{page_title}}</b></h5></div>
            <div class="card-body">
              <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="form-group">
                  <div class="form-check">
                    <input type="checkbox" name="use_for_test_tasks" class="form-check-input" id="id_use_for_test_tasks" style="cursor: pointer;" {% if experiment.use_for_test_tasks %}checked{% endif %}>
                    <label class="form-check-label" for="id_use_for_test_tasks" style="cursor: pointer;">Use as initial test experiment</label>
                  </div>
                  <div class="groups">
                    <label for="id_description">Groups</label>
                    <select name="group_managers" class="form-control" title="Assigned groups" id="id_group_managers" multiple>
                      {% for group_manager in experiment.group_managers.all %}
                        <option value="{{group_manager.id}}" style="cursor: pointer;">{{group_manager.full_name}} ({{group_manager.code}})</option>
                      {% endfor %}
                    </select>
                    <br>
                    <div style="width: 100%; text-align: center;">
                      <i class="fas fa-2x fa-arrow-circle-down move-group-managers" style="cursor: pointer; margin-right:10px;" data-from-id="id_group_managers" data-to-id="id_available_group_managers" onclick="moveGroupManagers(this)" /></i>
                      <i class="fas fa-2x fa-arrow-circle-up move-group-managers" style="cursor: pointer; margin-left:10px;" data-from-id="id_available_group_managers" data-to-id="id_group_managers" onclick="moveGroupManagers(this)" /></i>
                    </div>
                    <label for="id_description">Available groups</label>
                    <select name="available_group_managers" class="form-control" title="Available groups" id="id_available_group_managers" multiple>
                      {% for group_manager in available_group_managers %}
                        {% if experiment.group_managers is None or group_manager.id not in experiment.group_managers.all|ids %}
                          <option value="{{group_manager.id}}" style="cursor: pointer;">{{group_manager.name}} ({{group_manager.code}})</option>;
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                  {% buttons %}
                    <br>
                    <button type="submit" id="save-experiment-button" class="btn btn-success" style="float: right; margin-left: 15px;">Save</button>
                    <button type="button" class="btn btn-secondary" style="float: right;" onclick="history.back()">Cancel</button>
                  {% endbuttons %}
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <span class="frontend-module" data-name="superuser/notifications"></span>

      <script>
        wsProtocol = '{{ws_protocol}}';
        wsHost = '{{ws_host}}';
        customUserId = {{custom_user_id}};

        function moveGroupManagers(element) { // eslint-disable-line no-unused-vars
          var fromElement = document.getElementById($(element).data('from-id'));
          var toElement = document.getElementById($(element).data('to-id'));

          if (fromElement.selectedIndex >= 0) {
            var index = toElement.options.length;

            for (var i = 0; i < fromElement.options.length; i++) {
              if (fromElement.options[i].selected) {
                toElement.options[index] = fromElement.options[i];
                i--;
                index++;
              }
            }
          }
        }

        $('#id_use_for_test_tasks').click(function() {
          $('.groups').toggle();
        });

        {% if experiment.use_for_test_tasks %}
          $('.groups').hide();
        {% endif %}
      </script>
    {% endif %}
  {% else %}
    {% include "not_logged_in.html" %}
  {% endif %}
{% endblock content %}
