{% load tags %}

{% include "header.html" %}
<div class="card-header" style="height: 60px;">
  <div style="float: left;">
    <div style="float: left;">
        <h5 style="font-weight: bold; padding-top: 8px;">{{tasks|length}} Task{{tasks|length|pluralize:"s"}} for
        <a href="{% url 'experiment-detail' experiment.id %}" style="color: black;">{{experiment.title}}</a>
        {% if experiment.is_deleted %}
          <i class="fas fa fa-box" style="color: black;" title="Archived at {{ experiment.deleted_at}}"></i>
        {% endif %}
      </h5>
    </div>
    <div class="info-box" style="margin-left: 20px;">
      Completion rate: {{percentage_completed}}%
    </div>
    <div class="info-box">
      Median duration: {{median_duration_min}} min {{median_duration_sec}} sec
    </div>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0" style="float: right;">
    {% include "superuser/import_csv_form.html" %}
    <div class="btn-group mr-2">
      <button style="float: right; margin-left: 8px;" id="export-tasks" class="btn btn-secondary" style="margin-left: 8px;">Export Tasks</button>
    </div>
  </div>
</div>
<div class="card-body">
  {% if not tasks.all %}
    There are no tasks recorded for this experiment yet.
  {% else %}
    <table class="styled-table {{user_type}}">
      <thead style="height: 1px; line-height: 4px;">
        <tr style="font-weight: bold; background-color: #f9f9f9; color: #212529;">
          <th style="text-align: center;" rowspan="3">ID</th>
          <th style="text-align: center;" rowspan="3">Participant</th>
          <th style="text-align: center; border-bottom: 1px solid #ddd;" rowspan="3">Group</th>
          <th style="text-align: center; border-bottom: 1px solid #ddd;" rowspan="3">Batch</th>
          <th colspan="3" style="text-align: center; border-right: #c5c5c5 solid 1px; border-bottom: 1px solid #c5c5c5; border-top: none; margin-right: 13px;">Time</th>
          <th colspan="4" style="text-align: center; border-bottom: 1px solid #c5c5c5; border-top: none;">Payment</th>
          <th rowspan="3"></th>
          <th rowspan="3">Comment</th>
          <th rowspan="3"></th>
        <tr>
        <tr style="font-weight: bold; border-bottom: 1px solid #ddd; background-color: #f9f9f9; color: #212529;">
          <th style="text-align: center;">Started</th>
          <th style="text-align: center; min-width: 200px;">Status</th>
          <th style="text-align: center;">Duration</th>
          <th style="text-align: center;"><span style="white-space: nowrap;">Base / Bonus</span></th>
          <th style="text-align: center;">Total</th>
          <th style="text-align: center;">Paid</th>
          <th style="text-align: center;">Received</th>
        </tr>
      </thead>
      {% for task in tasks.all %}
        <tr id="{{task.id}}"{% if task.is_deleted %} style="font-style: italic;"{% endif %}>
          <td>{{task.id}}</td>
          <td>
            {% if not task.worker.is_deleted %}
              <a href="{% url 'experiments-participant-tasks' task.worker_id %}" style="color: black;">{{task.participant_name}}</a><br>(<span style="font-family: monospace, monospace;">{{task.worker.worker_id}}</span>)
            {% endif %}
          </td>
          <td>
            <a href="{% url 'experiments-group_manager-participants' task.group_manager.user.id %}" style="color:  black;white-space: nowrap;">{{task.group_manager.name}}</a><br>(<span style="font-family: monospace, monospace;">{{task.group_manager.code}}</span>)
          </td>
          <td>{% if task.experiment.batches > 1 %}<span class="number-circle batch">{{task.batch}}</span>{% endif %}</td>
          <td id="started_at-{{task.id}}">{{task.started_at|default_if_none:""}}</td>
          <td>
            <div class="box-placeholder">
              <div class="excerpt">
                <div class="text"></div>
                <div class="text line"></div>
              </div>
            </div>
            <div id="failed-reason-2-{{task.id}}" style="color: red; display: none; font-weight: bold;"></div>
            <div id="failed-reason-1-{{task.id}}" style="display: none;"></div>
            <div id="reset_at-{{task.id}}"></div>
            <div id="completed_at-{{task.id}}"></div>
            <div id="status-{{task.id}}"></div>
          </td>
          <td id="duration-{{task.id}}">{{task.completed_at|timeuntil:task.started_at}}</td>
          <td style="text-align: center;"><span id="base_payment-{{task.id}}">{{task.base_payment|as_dollars}}</span> /
            {% if task.state in "completed, not_completed, reset" and task.payment.state == "unpaid" %}
            <span class="bonus" style="cursor: pointer;" title="Double click to edit">
              <span id="bonus-{{task.id}}">{{task.bonus|as_dollars}}</span>
            </span>
            <span class="editable_field_container" style="display: none;">
              $<input type="number" step="0.01" min="0" class="editable_field" data-task-id="{{task.id}}" value="{{task.bonus|default_if_none:'0.00'}}" style="width: 70px; text-align: center;">
            </span>
            {% else %}
            <span id="bonus-{{task.id}}">{{task.bonus|as_dollars}}</span>
            {% endif %}
          </td>
          <td style="text-align: center; font-weight: bold;"><span id="total_payment-{{task.id}}">{{task.payment.amount|as_dollars}}</span></td>
          <td id="payment-done-at-{{task.id}}">{{task.payment.paid_at|default_if_none:""}}</td>
          <td id="payment-received-at-{{task.id}}">{{task.payment.received_at|default_if_none:""}}</td>
          <td>
            <button type="button" id="payment_done-{{task.id}}"
                    class="btn btn-sm btn-primary pay-task"
                    style="display: none;"
                    data-task-id="{{task.id}}">Payment done</button>
          </td>
          <td>
            <div class="grow-wrap">
              <textarea name="text" id="task-{{task.id}}" class="comment-textarea" data-task-id="{{task.id}}" onclick="this.parentNode.dataset.replicatedValue = this.value">{{task.comment|default_if_none:''}}</textarea>
              <div class="comment-buttons" style="display: none;">
                <button class="save-comment-button btn btn-sm btn-primary" style="float: right;">Save</button>
              </div>
            </div>
          </td>
          <td>
            <button id="delete-payment-{{task.id}}" type="button" class="btn btn-sm btn-warning btn-delete" style="display: none" data-toggle="modal" data-task-id="{{task.id}}" data-target="#confirm-task-reset" title="Reset task to allow redo">Reset</button>
          </td>
        </tr>
      {% endfor %}
        <tr>
          <td colspan="7" style="text-align: right; font-weight: bold; text-decoration: underline;">Total payments</td>
          <td style="text-align: center; font-weight: bold; text-decoration: underline;">
            <span id="total-base-payments">{{experiment.base_payment_sum|as_dollars}}</span> / <span id="total-bonuses">{{experiment.bonus_sum|as_dollars}}</span>
          </td>
          <td id="total-payments" style="text-align: center; font-weight: bold; text-decoration: underline;">
            {{experiment.total_sum|as_dollars}}
          </td>
          <td colspan="5"></td>
        </tr>
    </table>
  {% endif %}
</div>

<div id="confirm-task-reset" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        By clicking the <b>RESET TASK</b> button the task will be reset allowing the participant to redo the experiment!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a id="delete-task" id="btn-delete-modal" class="btn btn-warning" data-user-id="">RESET TASK</a>
      </div>
    </div>
  </div>
</div>

<span class="frontend-module" data-name="superuser/experiment_tasks"></span>
<span class="frontend-module" data-name="superuser/notifications"></span>

<script>
  wsProtocol = '{{ws_protocol}}';
  wsHost = '{{ws_host}}';
  customUserId = {{custom_user_id}};
  experimentId = {{experiment.id}};
</script>
