{% extends 'base.html' %}

{% load tags %}
{% load bootstrap4 %}

{% block content %}
  {% include "header.html" %}
  {% if user.is_authenticated %}
    {% if user.is_superuser %}
      <div class="justify-content-center" style="display: flex; margin-top: 50px;">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h5 style="margin-bottom: 0px; float: left;"><b>{{experiment.title}}</b></h5>
              {% if experiment.id in deployed_experiments %}
                <span style="float: right; background-color: lightgreen; margin-left:4px; padding: 2px 7px; font-weight: bold;">Deployed</span>
              {% endif %}
              {% if experiment.is_active %}
                <span style="float: right; background-color: gold; margin-left: 4px; padding: 2px 7px; font-weight: bold;">Active</span>
                </span>
              {% endif %}
              {% if experiment.use_for_test_tasks %}
                <span id="test-tasks" class="colored-box initial-test" style="font-weight: bold; float: right; padding: 2px 7px;">Initial test</span>
              {% endif %}
            </div>
            <div class="card-body">
              <form>
                <div class="form-group">
                  <label for="id_title">Title</label>
                  <input type="text" name="title" value="{{experiment.title}}" class="form-control" id="id_title" disabled>
                </div>
                <div class="form-group">
                  <label for="id_description">Description</label>
                  <input type="text" name="description" value="{{experiment.description}}" class="form-control" id="id_description" disabled>
                </div>
                <div class="form-group">
                  <label for="id_start_date">Start date</label>
                  <input type="text" name="start_date_month" value="{{experiment.start_date}}" class="form-control" id="id_start_date_month" disabled>
                </div>
                <div class="form-group">
                  <label for="id_expire_date">Expire date</label>
                  <input type="text" name="expire_date" value="{{experiment.expire_date}}" class="form-control" id="id_expire_date" disabled>
                </div>
                <div class="form-group">
                  <label for="id_estimated_duration">Estimated duration (in minutes)</label>
                  <input type="number" name="estimated_duration" value="{{experiment.estimated_duration}}" class="form-control" id="id_estimated_duration" disabled>
                </div>
                <div class="form-group">
                  <label for="id_max_duration">Maximum duration (in minutes)</label>
                  <input type="number" name="max_duration" value="{{experiment.max_duration}}" class="form-control" id="id_max_duration" disabled>
                </div>
                <div class="form-group">
                  <label for="id_batches">Batches</label>
                  <input type="number" name="batches" value="{{experiment.batches}}" class="form-control" id="id_batches" disabled>
                </div>
                <div class="form-group">
                  <div class="form-check">
                    <input type="checkbox" name="use_for_test_tasks" class="form-check-input" id="id_use_for_test_tasks" {% if experiment.use_for_test_tasks %}checked=""{% endif %}>
                    <label class="form-check-label" for="id_use_for_test_tasks">Initial test experiment</label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="id_url">URL</label>
                  <input type="text" name="url" value="{{experiment.url}}" class="form-control" id="id_url" disabled>
                </div>
                <div class="form-group">
                  <label for="id_dashboard_url">Dashboard URL</label>
                  <input type="text" name="dashboard_url" value="{{experiment.dashboard_url}}" style="width: 95%; margin-bottom: 15px;" class="form-control" disabled="" id="id_dashboard_url">
                  <span id="open-dashboard-url"></span>
                </div>
                <div class="form-group">
                  <label for="id_username">Username</label>
                  <input type="text" name="username" value="{{experiment.username}}" style="width: 95%; margin-bottom: 15px;" class="form-control" id="id_username" disabled>
                  <span id="copy-username"></span>
                </div>
                <div class="form-group">
                  <label for="id_password">Password</label>
                  <input type="password" name="password" value="{{experiment.password}}" style="width: 95%; margin-bottom: 15px;" class="form-control" id="id_password" disabled>
                  <span id="copy-password"></span>
                </div>
                <div class="form-group">
                  <label for="id_notes">Notes</label>
                  <textarea name="notes" cols="40" rows="10" class="form-control" id="id_notes" disabled>{{experiment.notes}}</textarea></div>
                <div class="form-group">
                  <label for="id_description">Groups</label>
                  <select name="group_managers" class="form-control" id="id_group_managers" multiple="" disabled>
                    {% for group_manager in experiment.group_managers.all %}
                      <option value="{{group_manager.id}}" style="cursor: pointer;">{{group_manager.full_name}} ({{group_manager.code}})</option>
                    {% endfor %}
                  </select>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <span class="frontend-module" data-name="superuser/notifications"></span>

      <script>
        wsProtocol = '{{ws_protocol}}';
        wsHost = '{{ws_host}}';
        customUserId = {{custom_user_id}};

        {% if experiment.id in deployed_experiments %}
        $("#id_dashboard_url").after(function() {
          return '<a href="{{experiment.dashboard_url}}" style="color: black;" target="_blank"><span id="open-dashboard-url"><i class="fa fa-lg fa-link" style="float: right; cursor: pointer; color: black; margin-top: -45px;" title="Open experiment dashboard"></i></a>';
        });
        {% endif %}

        $("#id_username").after(function() {
          return '<span id="copy-username"><i class="fa fa-lg fa-copy" style="float: right; cursor: pointer; color: #007bff; margin-top: -45px;"'
          + ' title="Copy username"></i></span>';
        });

        $("#id_password").after(function() {
          return '<span id="copy-password"><i class="fa fa-lg fa-copy" style="float: right; cursor: pointer; color: #007bff; margin-top: -45px;"'
          + ' title="Copy password"></i></span>';
        });

        document.getElementById("copy-username").onclick = function() {
          let element = document.createElement('textarea');
          element.value = $('#id_username').val();
          document.body.appendChild(element);
          element.select();
          document.execCommand('copy');
          document.body.removeChild(element);
        };

        document.getElementById("copy-password").onclick = function() {
          let element = document.createElement('textarea');
          element.value = $('#id_password').val();
          document.body.appendChild(element);
          element.select();
          document.execCommand('copy');
          document.body.removeChild(element);
        };
      </script>
    {% endif %}
  {% else %}
    {% include "not_logged_in.html" %}
  {% endif %}
{% endblock content %}
