{% include "header.html" %}

{% if not exists_deployed_experiment %}
<div style="width: 100%; text-align: center; color: red; background-color: #ffc9c9; border: 1px solid red; padding-top: 10px;">
  <h4><b>There's no active experiment deployed currently!</b></h4>
</div>
{% endif %}

<div class="card-header" style="height: 60px;">
  <div style="float: left; padding-top: 8px;"><h5><b>Experiments ({{experiments|length}})</b></h5></div>
  <div>
    <button style="float: right;" type="button" class="btn btn-primary" onclick="location.href='/experiments/experiments/create'">New Experiment</button>
  </div>
</div>
<div class="card-body">
  <table class="styled-table {{user_type}}">
    <thead>
      <tr>
        <th style="min-width: 200px;">Title<br>{% include "sort.html" with sort_by='title' %}</th>
        <th>Description<br>{% include "sort.html" with sort_by='description' %}</th>
        <th>Start date<br>{% include "sort.html" with sort_by='start_date' %}</th>
        <th>Expiration date<br>{% include "sort.html" with sort_by='expire_date' %}</th>
        <th>Estimated duration<br>{% include "sort.html" with sort_by='estimated_duration' %}</th>
        <th>Max. duration<br>{% include "sort.html" with sort_by='max_duration' %}</th>
        <th>Groups</th>
        <th>Batches<br>{% include "sort.html" with sort_by='batches' %}</th>
        <th>Tasks<br>{% include "sort.html" with sort_by='tasks_count' %}</th>
        <th>Created at<br>{% include "sort.html" with sort_by='created_at' %}</th>
        <th>Updated at<br>{% include "sort.html" with sort_by='updated_at' %}</th>
        <th style="min-width: 210px; vertical-align: bottom;">
          <div id="toggle_show-archived" style="float: right">
            <input type="checkbox" id="show-archived" style="cursor: pointer;">
            <label for="show-archived" style="white-space: nowrap; margin: 0; cursor: pointer;">
              Show archived
            </label>
          </div>
        </th>
      </tr>
    </thead>
    {% for experiment in experiments %}
      <tr class="{% if experiment.is_active and experiment.id in deployed_experiments %}active{% endif %}" style="{% if experiment.is_deleted %}font-style: italic;{% endif %}">
        <td>
          <div style="margin-top: 7px;">
            <span style="font-size: larger; font-weight: bold; font-family: cursive;">{{experiment.title}}</span>
          </div>
          <div style="text-align: center;margin-top: 7px;">
            <span style="margin-top: 7px;">
              {% if experiment.is_active %}
                  <span style="background-color: gold; padding: 7px; font-weight: bold;">Active</span>
              {% endif %}
            </span>
            <span style="margin-top: 17px;">
              {% if experiment.id in deployed_experiments %}
                  <span style="background-color: lightgreen; padding: 7px; font-weight: bold;">Deployed</span>
              {% endif %}
            </span>
          </div>
          <div style="margin-top: 17px;">
            {% if experiment.use_for_test_tasks %}
              <span style="white-space: nowrap; margin-top: 7px;">
                <span id="test-tasks" class="colored-box initial-test" style="padding: 7px;">Initial test</span>
              </span>
            {% endif %}
          </div>
        </td>
        <td>{{experiment.description}}</td>
        <td>{{experiment.start_date}}</td>
        <td>{{experiment.expire_date}}</td>
        <td>{{experiment.estimated_duration|default_if_none:""}} minute{{experiment.estimated_duration|pluralize:"s"}}</td>
        <td>{% if experiment.max_duration %}{{experiment.max_duration|default_if_none:""}} minute{{experiment.max_duration|default_if_none:"0"|pluralize:"s"}}{% else %}&infin;{% endif %}</td>
        <td>
          {% for group_manager in experiment.sorted_group_managers %}
            {% if forloop.counter <= default_num_of_group_managers_to_display %}
              <a href="{% url 'experiments-group_manager-participants' group_manager.user.id %}" style="color:  black; white-space: nowrap;">{{group_manager.name}} ({{group_manager.user.participants_not_deleted_count}})</a><br>
            {% endif %}
          {% endfor %}
          {% if experiment.sorted_group_managers|length > default_num_of_group_managers_to_display %}
            <a class="show_all_toggle show_all_toggle_{{experiment.id}}" data-experiment-id="{{experiment.id}}">Show all <i class="fas fa-caret-down fa-lg" style="margin: 0px"></i></a>
          {% endif %}
          <div class="show_all_{{experiment.id}}" style="display: none;">
            {% for group_manager in experiment.sorted_group_managers %}
              {% if forloop.counter > default_num_of_group_managers_to_display %}
                {% if forloop.counter > default_num_of_group_managers_to_display %}
                  <a href="{% url 'experiments-group_manager-participants' group_manager.user.id %}" style="color:  black; white-space: nowrap;">{{group_manager.name}} ({{group_manager.user.participants_not_deleted_count}})</a><br>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
          <a class="show_all_toggle show_all_toggle_{{experiment.id}}" data-experiment-id="{{experiment.id}}" style="display: none;">Show less <i class="fas fa-caret-up fa-lg" style="margin: 0px"></i></a>
        </td>
        <td>{% if experiment.batches > 1 %}<span class="number-circle batches">{{experiment.batches}}</span>{% endif %}</td>
        <td>
          <a id="tasks-count-{{experiment.id}}" class="count" href="{{experiment.id}}/tasks">{% if experiment.tasks_count > 0 %}{{experiment.tasks_count}}{% else %}{% endif %}</a>
        </td>
        <td>{{experiment.created_at}}</td>
        <td>{{experiment.updated_at}}</td>
        <td>
          {% if not experiment.is_deleted %}
            <button type="button" class="btn btn-sm btn-success" onclick="location.href='/experiments/experiment/{{experiment.id}}'">Details</button>
            <button type="button" class="btn btn-sm btn-primary" onclick="location.href='/experiments/experiments/update/{{experiment.id}}'">Edit</button>
            <button type="button" class="btn btn-sm btn-secondary btn-delete" data-toggle="modal" data-experiment-id="{{experiment.id}}" data-target="#confirm-experiment-deletion">Archive</button>
          {% else %}
            Archived at<br>{{ experiment.deleted_at}}<br><i class="fas fa-lg fa-box" style="color: black; margin-left: 7px;"></i>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
  <table style="margin-top: 20px; font-size: smaller;">
    <tr>
      <td colspan="2" style="font-weight: bold;"></td>
    </tr>
    <tr>
      <td style="padding: 7px 7px 7px 0px;">
        <span style="background-color: gold; padding: 5px; font-weight: bold;">Active</span>
      </td>
      <td style="padding: 7px;">
        Experiment has been started, has not expired, and has at least one group assigned
      </td>
    </tr>
    <tr>
      <td style="padding: 7px 7px 7px 0px;">
        <span style="background-color: lightgreen; padding: 5px; font-weight: bold;">Deployed</span>
      </td>
      <td style="padding: 7px;">
        Experiment has been deployed on a remote server and is reachable via an HTTP GET request
      </td>
    </tr>
    <tr>
      <td style="padding: 7px 7px 7px 0px;">
        <span id="test-tasks" class="colored-box initial-test">Initial test</span>
      </td>
      <td style="padding: 7px">
        Test experiment to ensure the participants meet the technological requirements to take experiments
      </td>
  </table>
</div>

<div id="confirm-experiment-deletion" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        By clicking the <b>ARCHIVE EXPERIMENT</b> button all experiment and related tasks data will be archived!
        <br><br>
        You will still be able to access the data later by ticking the <b>Show archived</b> box.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a id="delete-experiment" id="btn-delete-modal" class="btn btn-secondary" data-experiment-id="">ARCHIVE EXPERIMENT</a>
      </div>
    </div>
  </div>
</div>

<span class="frontend-module" data-name="superuser/experiments"></span>
<span class="frontend-module" data-name="superuser/notifications"></span>

<script>
  wsProtocol = '{{ws_protocol}}';
  wsHost = '{{ws_host}}';
  customUserId = {{custom_user_id}};
</script>
