{% load tags %}

{% include "header.html" %}
<div class="card-header" style="height: 60px;">
  <div style="float: left; padding-top: 8px;">
    <h5>
      <b>{{participants|length}} Participant{{participants|length|pluralize:"s"}} ({{group_manager.group_manager_name}} - {{group_manager.full_name}})</b>
    </h5>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0" style="float: right;">
    <div class="btn-group mr-2">
      <button style="float: right; margin-left: 8px;" id="export-participants" class="btn btn-secondary" style="margin-left: 8px;" data-group-manager-id="{{group_manager.id}}">Export participants</button>
    </div>
  </div>
</div>
<div class="card-body">
  <table class="styled-table {{user_type}}">
    <thead>
      <tr style="font-weight: bold;">
        <td>First name<br>{% include "sort.html" with sort_by='first_name' %}</td>
        <td>Last name<br>{% include "sort.html" with sort_by='last_name' %}</td>
        <td style="text-align: center;">Recruitment ID<br>{% include "sort.html" with sort_by='worker_id' %}</td>
        <td style="text-align: center;">Tasks<br>{% include "sort.html" with sort_by='worker_tasks_count' %}</td>
        <td style="text-align: center;">Outstanding<br>payments{% include "sort.html" with sort_by='outstanding_payments_sum' %}</td>
        <td style="text-align: center;">Email<br>{% include "sort.html" with sort_by='email' %}</td>
        <td>Country<br>{% include "sort.html" with sort_by='country_name' %}</td>
        <td style="text-align: center;">
          Birthday (Age)<br>{% include "sort.html" with sort_by='age' %}
        </td>
        <td style="text-align: center;">Gender<br>{% include "sort.html" with sort_by='gender' %}</td>
        <td style="text-align: center;">Years of musical<br>experience{% include "sort.html" with sort_by='years_of_experience' %}</td>
        <td style="text-align: center;">Date joined<br>{% include "sort.html" with sort_by='date_joined' %}</td>
        <td style="text-align: center;">Verified<br>{% include "sort.html" with sort_by='is_verified' %}</td>
        <td style="text-align: center;">Initial test<br>{% include "sort.html" with sort_by='test_task_verified' %}</td>
        <td style="text-align: center;">Nonresponsive<br>{% include "sort.html" with sort_by='nonresponsive' %}</td>
        <td style="vertical-align: bottom;">
          <div id="toggle_include-deleted" style="float: right;">
            <input type="checkbox" id="include-deleted" style="cursor: pointer;">
            <label for="include-deleted" style="white-space: nowrap; margin: 0; cursor: pointer;">
              Include deleted
            </label>
          </div>
        </td>
      </tr>
    </thead>
    {% for participant in participants %}
      <tr>
      <td>
        {% if participant.has_failed_tasks %}
          <i class="fa fa-exclamation" style="color:red; font-weight: bold; margin-right: 7px; cursor: pointer;" title="Participant has failed tasks"></i>
        {% endif %}
        {{participant.first_name}}
      </td>
      <td>{{participant.last_name}}</td>
      <td><span style="font-family: monospace, monospace;">{{participant.worker_id}}</span></td>
      <td style="text-align: center;">
        {% if participant.worker_tasks_count > 0 %}
        <a href="{% url 'experiments-participant-tasks' participant.id %}" class="count">{{participant.worker_tasks_count}}</a>
        {% endif %}
      </td>
      <td style="text-align: center;" class="{% if participant.has_finished_non_test_task %}outstanding_payment{% else %}test_task_payment{% endif %}">
        {% if participant.outstanding_payments_sum > 0 %}
        {{participant.outstanding_payments_sum|as_dollars}}
        {% endif %}
      </td>
      <td style="text-align: center;">{{participant.email}}</td>
      <td>{{participant.country_name}}</td>
      <td style="text-align: center;">
        {% if participant.date_of_birth %}
          {{participant.date_of_birth}} ({{participant.age}})
        {% endif %}
      </td>
      <td style="text-align: center;">{{participant.gender}}</td>
      <td style="text-align: center;">{{participant.years_of_experience|floatformat}}</td>
      <td style="text-align: center;">{{participant.date_joined}}</td>
      <td style="text-align: center;">
        {% if participant.is_verified %}
          <span title="Verified" style="cursor: default; font-size: large; font-weight: bold;">✓</span>
        {% endif %}
      </td>
      <td style="text-align: center;">
        {% if participant.test_task_verified %}
          <span title="Initial test verified" style="cursor: default; font-size: large; font-weight: bold;">✓</span>
        {% endif %}
      </td>
      <td style="text-align: center;">
        <input type="checkbox" id="nonresponsive" name="nonresponsive" {% if participant.nonresponsive %}checked=""{% endif %} style=" accent-color: #ff0202;" readonly onclick="return false;">
      </td>
      <td style="min-width: 160px;">
        {% if not participant.is_deleted %}
        <button type="button" class="btn btn-sm btn-primary" onclick="location.href='/experiments/participants/{{participant.id}}/update'">Edit</button>
        <button type="button" class="btn btn-sm btn-danger btn-delete" data-toggle="modal" data-participant-id="{{participant.id}}" data-target="#confirm-account-deletion">Delete</button>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

<div class="modal fade" id="confirm-account-deletion" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        By clicking the <i>DELETE ACCOUNT</i> button all account data of this user will be permanently erased!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a id="btn-delete-modal" class="btn btn-danger" data-participant-id="">DELETE ACCOUNT</a>
      </div>
    </div>
  </div>
</div>

<span class="frontend-module" data-name="superuser/group-manager_participants"></span>
<span class="frontend-module" data-name="superuser/notifications"></span>

<script>
  wsProtocol = '{{ws_protocol}}';
  wsHost = '{{ws_host}}';
  customUserId = {{custom_user_id}};
  groupManagerId = {{group_manager.id}};
</script>
