{% load accounts_tags %}
{% load tags %}

{% include "header.html" %}
<div class="card-header" style="height: 60px;">
  <div style="float: left; padding-top: 8px;"><h5><b>Groups ({{group_managers|length}})</b></h5></div>
  <button style="float: right;" type="button" class="btn btn-primary" onclick="location.href='/experiments/group_managers/create'">New Group</button>
</div>
<div class="card-body">
  <table class="styled-table {{user_type}}">
    <thead>
      <tr>
        <th>Name<br>{% include "sort.html" with sort_by='group_manager_name' %}</th>
        <th>Manager<br>{% include "sort.html" with sort_by='group_manager_full_name' %}</th>
        <th>Email<br>{% include "sort.html" with sort_by='email' %}</th>
        <th>Code<br>{% include "sort.html" with sort_by='group_manager_code' %}</th>
        <th>Country<br>{% include "sort.html" with sort_by='country_name' %}</th>
        <th>Consent<br>{% include "sort.html" with sort_by='group_manager_consent' %}</th>
        <th>Start buttons enabled<br>{% include "sort.html" with sort_by='enable_experiment_start_buttons' %}</th>
        <th>Experiments</th>
        <th>Participants<br>{% include "sort.html" with sort_by='participants_not_deleted_count' %}</th>
        <th>Created at<br>{% include "sort.html" with sort_by='date_joined' %}</th>
        <th></th>
      </tr>
    </thead>
    {% for group_manager in group_managers %}
    <tr>
      <td>{{group_manager.group_manager_name}}</td>
      <td>{{group_manager.full_name}}</td>
      <td>{{group_manager.email}}</td>
      <td style="font-family:  monospace, monospace;">{{group_manager.group_manager_code}}</td>
      <td>{{group_manager.country_name}}</td>
      <td>{{group_manager.consent_name}}</td>
      <td>{% if group_manager.enable_experiment_start_buttons %}<span style="font-size: large; color: green;">✔</span>{% endif %}</td>
      <td style="text-align: left; white-space: nowrap;">
        <ul>
          {% with group_manager.initial_test_experiment as experiment %}
            {% if experiment is not None %}
              {% active_experiment experiment as is_active %}
              {% active_and_deployed_experiment experiment deployed_experiments as is_active_and_deployed %}
              {% deployed_experiment experiment deployed_experiments as is_deployed %}
              <li class="{% if is_active_and_deployed %}active_deployed{% else %}active_not_deployed{% endif %}"><a href="{% url 'experiment-detail' experiment.id %}" style="margin-right: 5px;">{{experiment.title}}</a>{% if is_deployed %}<span style="display: inline-block; background-color: lightgreen; vertical-align: middle; margin-left: 2px; height: 10px; width: 10px; cursor: help;" title="Deployed"></span>{% endif %}{% if is_active %}<span style="display: inline-block; background-color: gold; vertical-align: middle; margin-left: 2px; height: 10px; width: 10px; cursor: help;" title="Active"></span>{% endif %}<span style="display: inline-block; background-color: #acdfff; vertical-align: middle; margin-left: 2px; height: 10px; width: 10px; cursor: help;" title="Initial test"></span></li>
            {% endif %}
          {% endwith %}
          {% sort_experiments group_manager.experiments.all as sorted_experiments %}
        {% for experiment in sorted_experiments %}
          {% if not experiment.is_deleted %}
            {% active_and_deployed_experiment experiment deployed_experiments as is_active_and_deployed %}
            {% active_experiment experiment as is_active %}
            {% deployed_experiment experiment deployed_experiments as is_deployed %}
            <li class="{% if is_active_and_deployed %}active_deployed{% else %}active_not_deployed{% endif %}"><a href="{% url 'experiment-detail' experiment.id %}" style="margin-right: 5px;">{{experiment.title}}</a>{% if is_deployed %}<span style="display: inline-block; background-color: lightgreen; vertical-align: middle; margin-left: 2px; height: 10px; width: 10px; cursor: help;" title="Deployed"></span>{% endif %}{% if is_active %}<span style="display: inline-block; background-color: gold; vertical-align: middle; margin-left: 2px; height: 10px; width: 10px; cursor: help;" title="Active"></span>{% endif %}</li>
          {% endif %}
        {% endfor %}
        </ul>
      </td>
      <td>
        <a href="{% url 'experiments-group_manager-participants' group_manager.id %}" class="count">
          {{group_manager.participants_not_deleted|length}}
        </a>
      </td>
      <td>{{group_manager.date_joined}}</td>
      <td>
        <button type="button" class="btn btn-sm btn-primary" onclick="location.href='/experiments/group_managers/update/{{group_manager.id}}'">Edit</button>
        <br>
        {% invitation_link group_manager request as invitation_link %}
        <button type="button" class="btn btn-sm btn-success invitation-link" data-invitation-link="{{invitation_link}}" style="min-width: 140px; margin-top: 7px;" title="Copy invitation link">Copy invitation link</button>
        <br>
        <button type="button" class="btn btn-sm btn-success" style="min-width: 140px; margin-top: 7px;" title="Send a message to members of the group" onclick="location.href='/group_managers/{{group_manager.id}}/compose_message'">Messages<i class="fa fa-envelope" style="margin-left: 7px;"></i></button>
      </td>
    </tr>
    {% endfor %}
  </table>
  <table style="margin-top: 10px; font-size: smaller;">
    <tr>
      <td style="padding: 0px 7px 2px 0px;">
        <span style="display: inline-block; background-color: gold; vertical-align: middle; margin-left: 2px; height: 10px; width: 10px; cursor: help;" title="Active"></span>
        Experiment has been started, has not expired, and has at least one group assigned
      </td>
    </tr>
    <tr>
      <td style="padding: 0px 7px 2px 0px;">
        <span style="display: inline-block; background-color: lightgreen; vertical-align: middle; margin-left: 2px; height: 10px; width: 10px; cursor: help;" title="Active"></span>
        Experiment has been deployed on a remote server and is reachable via an HTTP GET request
      </td>
    </tr>
    <tr>
      <td style="padding: 0px 7px 2px 0px;">
        <span style="display: inline-block; background-color: #acdfff; vertical-align: middle; margin-left: 2px; height: 10px; width: 10px; cursor: help;" title="Initial test"></span>
        Initial test experiment to ensure the participants meet the technological requirements to take experiments
      </td>
  </table>
</div>

<span class="frontend-module" data-name="superuser/notifications"></span>

<script>
  wsProtocol = '{{ws_protocol}}';
  wsHost = '{{ws_host}}';
  customUserId = {{custom_user_id}};

  $('.invitation-link').on('click', function() {
    let element = document.createElement('textarea');
    element.value = $(this).data("invitation-link");
    document.body.appendChild(element);
    element.select();
    document.execCommand('copy');
    document.body.removeChild(element);
    $('.invitation-link').text("Copy invitation link");
    $(this).text("Copied");
  });
</script>
