<div class="input-group">
  <div class="custom-file">
    <form action="/experiments/tasks/import" method="post" enctype="multipart/form-data" name="importForm">
      {% csrf_token %}
      <input type="file" name="csv_file" class="custom-file-input" id="csv_import_file" style="width: 400px; cursor: pointer;">
      <input type="hidden" name="experiment_id" value="{{experiment.id}}">
      <label class="custom-file-label" for="csv_import_file" style="white-space: nowrap; overflow: hidden;">Choose Task data file to import</label>
    </form>
  </div>
  <div class="input-group-append">
    <span class="input-group-text" id="csv_import_file_button" style="cursor: default; color: #fff; background-color: #007bff; border-color: #007bff;">Update Tasks</span>
  </div>
</div>

<span class="frontend-module" data-name="superuser/import_csv"></span>
