{% load humanize %}
{% include "header.html" %}
<div class="card-header" style="height: 60px;">
  <div style="float: left; padding-top: 8px;"><h5><b>Log Entries ({{log_entries|length}})</b></h5></div>
</div>
<div class="card-body">
  <table class="styled-table {{user_type}}">
    <thead>
      <tr>
        <th>ID</th>
        <th>Action</th>
        <th>Object</th>
        <th>Changes</th>
        <th>Timestamp</th>
        <th>Actor</th>
      </tr>
    </thead>
    {% for log_entry in log_entries %}
    <tr>
      <td>{{log_entry.id}}</td>
      <td class="log_entry {{log_entry.action|lower}}">{{log_entry.action}}</td>
      <td>{{log_entry.type}}</td>
      <td>
        {% if log_entry.action == "Updated" %}
          {% for key, change in log_entry.changes.items %}
            <div style="margin-bottom: 7px;">{{key}}: <tt>"{{change|first}}"</tt> ⇝ <tt>"{{change|last}}"</tt></div>
          {% endfor %}
        {% elif log_entry.action == "Created" %}
          {% for key, change in log_entry.changes.items %}
            <div style="margin-bottom: 7px;">{{key}}: <tt>"{{change|last}}"</tt><br>
          {% endfor %}
        {% elif log_entry.action == "Deleted" %}
          {% for key, change in log_entry.changes.items %}
            <div style="margin-bottom: 7px;">{{key}}:<tt>"{{change|first}}"</tt> ⇝ <tt>"{{change|last}}"</tt></div>
          {% endfor %}
        {% endif %}
      </td>
      <td>{{log_entry.timestamp}}</td>
      <td>
        {% if log_entry.custom_user is not none and not log_entry.custom_user.is_staff %}
          <a style="color: black;" href="{% url 'experiments-participant-tasks' log_entry.custom_user.id %}">{{log_entry.custom_user.full_name}}</a>
        {% else %}
          {{log_entry.custom_user.full_name}}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

<span class="frontend-module" data-name="superuser/notifications"></span>

<script>
  wsProtocol = '{{ws_protocol}}';
  wsHost = '{{ws_host}}';
  customUserId = {{custom_user_id}};
</script>
