{% load tags %}

{% include "header.html" %}
<div class="toast" id="close-toast" style="position: absolute; top: 0; right: 0; background-color: #007bff; color: white; max-width: none;" data-delay="4000">
  <div class="toast-header">
    <button type="button" class="ml-2 mb-2 close" data-dismiss="toast">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    <div><b>Email address <i>{{participant.email}}</i> copied to clipboard.</b></div>
  </div>
</div>

<div class="card-header" style="height: 60px;">
  <div style="float: left; padding-top: 8px;">
    <h5>
      <b>
        {{tasks|length}} Task{{tasks|length|pluralize:"s"}} for
        {% if not participant.is_deleted %}{{participant.full_name}} (<span style="font-family: monospace, monospace;">{{participant.worker_id}}</span>)
          <i id="copy-participant-email" class="fas fa-xs fa-copy" style="cursor: pointer; color: #007bff" title="Copy email"></i>
        {% else %}
          participant with ID {{participant.id}}
        {% endif %}
      </b>
    </h5>
  </div>
</div>
<div class="card-body">
  {% if not tasks.all %}
    There are no tasks recorded for this participant yet.
  {% else %}
    <table class="styled-table {{user_type}}">
      <thead style="height: 1px; line-height: 4px;">
        <tr style="font-weight: bold; background-color: #f9f9f9; color: #212529;">
          <th style="text-align: center;" rowspan="3">ID</th>
          <th style="text-align: center;" rowspan="3">Experiment</th>
          <th style="text-align: center; border-bottom: 1px solid #ddd;" rowspan="3">Batch</th>
          <th colspan="3" style="text-align: center; border-right: #c5c5c5 solid 1px; border-bottom: 1px solid #c5c5c5; border-top: none; margin-right: 13px;">Time</th>
          <th colspan="4" style="text-align: center; border-bottom: 1px solid #c5c5c5; border-top: none;">Payment</th>
          <th rowspan="3"></th>
          <th rowspan="3">Comment</th>
          <th rowspan="3"></th>
        <tr>
        <tr style="font-weight: bold; border-bottom: 1px solid #ddd; background-color: #f9f9f9; color: #212529;">
          <th style="text-align: center;">Started</th>
          <th style="text-align: center; min-width: 200px;">Status</th>
          <th style="text-align: center;">Duration</th>
          <th style="text-align: center;"><span style="white-space: nowrap;">Base / Bonus</span></th>
          <th style="text-align: center;">Total</th>
          <th style="text-align: center;">Paid</th>
          <th style="text-align: center;">Received</th>
        </tr>
      </thead>
      {% for task in tasks.all %}
      <tr id="{{task.id}}"{% if task.is_deleted %} style="font-style: italic;"{% endif %}>
        <td style="text-align: center;">{{task.id}}</td>
        <td>
          <a href="{% url 'experiments-experiment-tasks' task.experiment.id %}" style="color: black;">
            {{task.experiment.title}}</a>
          {% if task.is_deleted %}
            <i class="fas fa-lg fa-trash" style="color: black; float: right; margin-left: 7px;" title="Deleted at {{ task.deleted_at}}"></i>
          {% endif %}
        </td>
        <td style="text-align: center;">{% if task.experiment.batches > 1 %}<span class="number-circle batch">{{task.batch}}</span>{% endif %}</td>
        <td id="started_at-{{task.id}}">{{task.started_at|default_if_none:""}}</td>
        <td>
          <div class="box-placeholder">
            <div class="excerpt">
              <div class="text"></div>
              <div class="text line"></div>
            </div>
          </div>
          <div id="failed-reason-2-{{task.id}}" style="color: red; display: none; font-weight: bold;"></div>
          <div id="failed-reason-1-{{task.id}}" style="display: none;"></div>
          <div id="reset_at-{{task.id}}"></div>
          <div id="completed_at-{{task.id}}"></div>
          <div id="status-{{task.id}}"></div>
        </td>
        <td id="duration-{{task.id}}">{{task.completed_at|timeuntil:task.started_at}}</td>
        <td style="text-align: center;"><span id="base_payment-{{task.id}}">{{task.base_payment|as_dollars}}</span> /
          {% if task.state in "completed, not_completed, reset" and task.payment.state == "unpaid" %}
          <span class="bonus" style="cursor: pointer;" title="Double click to edit">
            <span id="bonus-{{task.id}}">{{task.bonus|as_dollars}}</span>
          </span>
          <span class="editable_field_container" style="display: none;">
            $<input type="number" step="0.01" min="0" class="editable_field" data-task-id="{{task.id}}" value="{{task.bonus|default_if_none:'0.00'}}" style="width: 70px; text-align: center;">
          </span>
          {% else %}
          <span id="bonus-{{task.id}}">{{task.bonus|as_dollars}}</span>
          {% endif %}
        </td>
         <td style="text-align: center; font-weight: bold;"><span id="total_payment-{{task.id}}">{{task.base_payment|add:task.bonus|as_dollars}}</span></td>
        <td id="payment-done-at-{{task.id}}">{{task.payment.paid_at|default_if_none:""}}</td>
        <td id="payment-received-at-{{task.id}}">{{task.payment.received_at|default_if_none:""}}</td>
        <td>
          <button type="button" id="payment_done-{{task.id}}"
                  class="btn btn-sm btn-primary pay-task"
                  style="display: none;"
                  data-task-id="{{task.id}}">Payment done</button>
        </td>
        <td>
          <div class="grow-wrap">
            <textarea name="text" id="task-{{task.id}}" class="comment-textarea" data-task-id="{{task.id}}" onclick="this.parentNode.dataset.replicatedValue = this.value">{{task.comment|default_if_none:''}}</textarea>
            <div class="comment-buttons" style="display: none;">
              <button class="save-comment-button btn btn-sm btn-primary" style="float: right;">Save</button>
            </div>
          </div>
        </td>
        <td>
          <button id="delete-payment-{{task.id}}" type="button" class="btn btn-sm btn-warning btn-delete" style="display: none" data-toggle="modal" data-task-id="{{task.id}}" data-target="#confirm-task-reset" title="Reset task to allow redo">Reset</button>
        </td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="7" style="text-align: right; font-weight: bold; text-decoration: underline;">Total payments</td>
        <td id="total-payments" style="text-align: center; font-weight: bold; text-decoration: underline;">
          {{participant.total_payments|as_dollars}}</td>
        <td colspan="5"></td>
      </tr>
      <tr id="outstanding_payments" style="display: none">
        <td colspan="7" style="text-align: right; font-weight: bold;">Outstanding payments</td>
        <td id="outstanding_payments_sum" class="test_task_payment" style="text-align: center; font-weight: bold; text-decoration: underline;">
          {{participant.outstanding_payments_sum|as_dollars}}
        </td>
        <td colspan="2"></td>
        <td>
          <button type="button" id="pay-all-tasks" class="btn btn-sm btn-primary" style="display: none;">All payments done</button>
        </td>
        <td colspan="2"></td>
      </tr>
    </table>
  {% endif %}
</div>

<div id="confirm-task-reset" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        By clicking the <b>RESET TASK</b> button the task will be reset allowing the participant to redo the experiment!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a id="delete-task" id="btn-delete-modal" class="btn btn-warning" data-user-id="">RESET TASK</a>
      </div>
    </div>
  </div>
</div>

<span class="frontend-module" data-name="superuser/participant_tasks"></span>
<span class="frontend-module" data-name="superuser/notifications"></span>

<script>
  wsProtocol = '{{ws_protocol}}';
  wsHost = '{{ws_host}}';
  customUserId = {{custom_user_id}};
  participantId = {{participant.id}};
  participantEmail = '{{participant.email}}';
</script>
