{% load tags %}

{% include "header.html" %}
<div class="card-header" style="height: 60px;">
  <div style="float: left; padding-top: 8px;"><h5><b>Participants ({{participants|length}})</b></h5></div>
</div>
<div class="card-body">
  <table class="styled-table {{user_type}}">
    <thead>
      <tr>
        <th>Name<br>{% include "sort.html" with sort_by='first_name' %} | {% include "sort.html" with sort_by='last_name' %}</th>
        <th>Recruitment ID<br>{% include "sort.html" with sort_by='worker_id' %}</th>
        <th>Group<br>{% include "sort.html" with sort_by='group_manager_name' %}</th>
        <th>Tasks<br>{% include "sort.html" with sort_by='worker_tasks_count' %}</th>
        <th>Outstanding<br>payments{% include "sort.html" with sort_by='outstanding_payments_sum' %}</th>
        <th>Email<br>{% include "sort.html" with sort_by='email' %}</th>
        <th>Country<br>{% include "sort.html" with sort_by='country_name' %}</th>
        <th>
          Birthday (Age)<br>{% include "sort.html" with sort_by='demographic_info__date_of_birth' %}
        </th>
        <th>Gender<br>{% include "sort.html" with sort_by='demographic_info__gender' %}</th>
        <th>Years of musical<br>experience{% include "sort.html" with sort_by='demographic_info__years_of_experience' %}</th>
        <th>Date joined<br>{% include "sort.html" with sort_by='date_joined' %}</th>
        <th>Verified<br>{% include "sort.html" with sort_by='is_verified' %}</th>
        <th>Initial test<br>{% include "sort.html" with sort_by='test_task_verified' %}</th>
        <td style="text-align: center;">Nonresponsive<br>{% include "sort.html" with sort_by='nonresponsive' %}</td>
        <th style="vertical-align: bottom;">
          <div id="toggle_include-deleted" style="float: right;">
            <input type="checkbox" id="include-deleted" style="cursor: pointer;">
            <label for="include-deleted" style="white-space: nowrap; margin: 0; cursor: pointer;">
              Include deleted
            </label>
          </div>
        </th>
      </tr>
    </thead>
    {% for participant in participants %}
    <tr>
      <td>{{participant.full_name}}</td>
      <td>{{participant.worker_id}}</td>
      <td style="text-align: center;">
        {% if participant.group_manager is not none %}
        <a href="{% url 'experiments-group_manager-participants' participant.group_manager_id %}" style="color:  black; white-space: nowrap;">{{participant.group_manager.group_manager_name}}</a>
        <br>(<span style="font-family: monospace, monospace;">{{participant.group_manager_code}}</span>)
        {% endif %}
      </td>
      <td style="text-align: center;">
        {% if participant.worker_tasks_count > 0 %}
        <a id="tasks-count-{{participant.id}}"  class="count" href="participants/{{participant.id}}/tasks">{{participant.worker_tasks_count}}</a>
        {% endif %}
      </td>
      <td style="text-align: center;" class="{% if participant.has_finished_non_test_task %}outstanding_payment{% else %}test_task_payment{% endif %}">
        {% if participant.outstanding_payments_sum > 0 %}
        {{participant.outstanding_payments_sum|as_dollars}}
        {% endif %}
      </td>
      <td style="text-align: center; overflow-wrap: break-word; max-width: 220px;">{{participant.email}}</td>
      <td>{{participant.country_name}}</td>
      <td style="text-align: center;">
        {% if participant.date_of_birth %}
          {{participant.date_of_birth}} ({{participant.age}})
        {% endif %}
      </td>
      <td style="text-align: center;">{{participant.gender}}</td>
      <td style="text-align: center;">{{participant.years_of_experience|floatformat}}</td>
      <td style="text-align: center;">{{participant.date_joined}}</td>
      <td style="text-align: center;">
        {% if participant.is_verified %}
          <span title="Verified" style="cursor: default; font-size: large; font-weight: bold;">✓</span>
        {% endif %}
      </td>
      <td style="text-align: center;">
        {% if participant.test_task_verified %}
          <span title="Initial test verified" style="cursor: default; font-size: large; font-weight: bold;">✓</span>
        {% endif %}
      </td>
      <td style="text-align: center;">
        <input type="checkbox" id="nonresponsive" name="nonresponsive" {% if participant.nonresponsive %}checked=""{% endif %} style=" accent-color: #ff0202;" readonly onclick="return false;">
      </td>
      <td style="min-width: 160px;">
        {% if not participant.is_deleted %}
        <button type="button" class="btn btn-sm btn-primary" onclick="location.href='/experiments/participants/{{participant.id}}/update'">Edit</button>
        <button type="button" class="btn btn-sm btn-danger btn-delete" data-toggle="modal" data-participant-id="{{participant.id}}" data-target="#confirm-account-deletion">Delete</button>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

<div id="confirm-account-deletion" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        By clicking the <i>DELETE ACCOUNT</i> button all account data of this user will be permanently erased!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a id="delete-account" id="btn-delete-modal" class="btn btn-danger" data-user-id="">DELETE ACCOUNT</a>
      </div>
    </div>
  </div>
</div>

<span class="frontend-module" data-name="superuser/participants"></span>
<span class="frontend-module" data-name="superuser/notifications"></span>

<script>
  wsProtocol = '{{ws_protocol}}';
  wsHost = '{{ws_host}}';
  customUserId = {{custom_user_id}};
</script>
