{% extends 'base.html' %}
{% load tags %}

{% block content %}
  {% include "header.html" %}
  {% if user.is_authenticated %}
    {% if user.is_superuser %}
      <div class="justify-content-center" style="display: flex; margin-top: 50px;">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h5 style="margin-bottom: 0px; float: left;"><b>Send a message to members of group <i>{{group_manager.group_manager_name}}</i></b></h5>
            </div>
            <div class="card-body">
              <form action="/group_managers/send_message" method="post">
                <div class="form-group">
                  <label for="id-subject">Subject</label>
                  <input type="text" name="subject" value="" class="form-control" id="id-subject" required>
                  <input type="hidden" name="group_manager_id" value="{{group_manager.id}}">
                </div>
                <div class="form-group">
                  <label for="id-message-text">Message</label>
                  <textarea name="message_text" cols="40" rows="10" class="form-control" id="id-message-text" required></textarea>
                </div>
                <div class="form-group">
                    <label id="recipients-label" style="margin-right: 20px;">
                      <span id="recipients-count">0</span> Recipients
                    </label>
                    <a class="recipients_toggle hide_select_toggle">
                      <span style="font-weight: normal;">Select</span>
                      <i class="fas fa-caret-down fa-lg" style="margin: 0px"></i>
                    </a>
                    <a class="recipients_toggle hide_select_toggle" style="display: none;">
                      <span style="font-weight: normal;">Hide</span>
                      <i class="fas fa-caret-up fa-lg" style="margin: 0px"></i>
                    </a>
                    <br>
                    <div id="recipients" style="display: none;">
                      <input type="checkbox" id="recipient-select-all" style="cursor: pointer;"/>
                      <label for="recipient-select-all" style="white-space: nowrap; margin: 0; cursor: pointer; margin-bottom: 7px;">
                        <span style="font-weight: normal;">Select all</span>
                      </label>
                      <br>
                      {% for recipient in recipients.all %}
                        <input type="checkbox" name="recipient_ids[]" id="recipient-{{recipient.id}}" class="recipient" value="{{recipient.id}}" style="cursor: pointer;"/>
                        <label for="recipient-{{recipient.id}}" style="white-space: nowrap; margin: 0; cursor: pointer;">
                          <span style="font-weight: normal;">{{recipient.full_name}} ({{recipient.email}})</span>
                        </label>
                        <br>
                      {% endfor %}
                    </div>
                </div>
                <button type="submit" id="send-message-button" class="btn btn-lg btn-success" style="float: right; margin-left: 15px;">Send message</button>
              </form>
              <br>
              <i>* A copy of this email will also be sent to <span style="font-family: monospace, monospace;">{{group_manager.email}}</span></i>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card">
            <div class="card-header">
              <h5 style="margin-bottom: 0px; float: left;"><b>Recent messages</b></h5>
            </div>
            <div class="card-body">
              {% for message in messages_.all %}
                <div style="background-color: gainsboro; margin-bottom: 5px; border-top-left-radius: 2px 2px; border-top-right-radius: 6px 6px; font-size: 0.85em;">
                  <a class="show_all_toggle show_all_toggle_{{message.id}}" data-message-id="{{message.id}}" style="margin-left: 4px;">
                    {{message.subject}} <i class="fas fa-caret-down fa-lg" style="margin: 0px;"></i>
                  </a>
                  <a class="show_all_toggle show_all_toggle_{{message.id}}" data-message-id="{{message.id}}" style="display: none; margin-left: 4px;">
                    {{message.subject}} <i class="fas fa-caret-up fa-lg" style="margin: 0px"></i>
                  </a>
                </div>
                <div class="show_all_{{message.id}}" style="display: none; padding: 4px; background-color: whitesmoke;
; border-radius: 7px; font-size: smaller; margin-bottom: 5px;">
                  <div style="font-family: monospace; font-weight: bold; font-size: xx-small; margin-left: 4px; float: right;">{{message.send_at}}</div>
                  <div style="clear: both;">{{message.text|linebreaks}}</div>
                  <div style="font-weight: bold; font-size: small;">{{message.recipient_ids|length}} recipients</div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <script>
        $('#id-subject').keypress(
          function(event){
            if (event.which == '13') {
              event.preventDefault();
            }
        });

        $(".recipients_toggle").unbind("click").click(function() {
          $("#recipients").toggle();
          $(".recipients_toggle").toggle();
        });

        $("#recipient-select-all").unbind("click").click(function() {
          if ($(this).is(':checked')) {
            $('#recipients input[type="checkbox"].recipient').prop('checked', true);
          } else {
            $('#recipients input[type="checkbox"].recipient').prop('checked', false);
          }
        });

        $("#recipient-select-all").change(function() {
          countChecked(checkboxes);
        });

        let checkboxes = $('#recipients input[type="checkbox"].recipient');
        checkboxes.change(function() {
          countChecked(checkboxes);
        });

        function countChecked(checkboxes) {
          let countCheckedCheckboxes = checkboxes.filter(':checked').length;
          $('#count-checked-checkboxes').text(countCheckedCheckboxes);
          $('#edit-count-checked-checkboxes').val(countCheckedCheckboxes);
          $('#recipients-count').text(countCheckedCheckboxes);
        }

        $(".show_all_toggle").unbind("click").click(function() {
          let message_id = $(this).data('message-id');
          $(".show_all_toggle_" + message_id).toggle();
          $(".show_all_" + message_id).toggle();
        });
      </script>
    {% endif %}
  {% else %}
    {% include "not_logged_in.html" %}
  {% endif %}
{% endblock content %}
