{% extends "base.html" %}

{% block content %}
<div class="container" style="margin-top: 50px;">
  <div class="row justify-content-center">
    <div class="col-md-6">
      {% block col_content %}
      {% endblock col_content %}
    </div>
  </div>
</div>
{% endblock content %}
