{% load bootstrap4 %}

<html>
  <head>
    {% bootstrap_css %}
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  </head>
  <body>
    <div style="float: left; min-width: 600px; width: 40%; margin: 30px;">
      <div style="padding: 20px; border: black solid 1px;">
      {% with template_name=consent|stringformat:"s"|add:"_consent.html" %}
        {% include template_name %}
      {% endwith %}
    </div>
    <button type="button" id="close-button" class="btn btn-primary" style="float: right; margin-top: 15px;" onclick="window.close();">Close window</button>
  </div>
  </body>
</html>
