{% extends 'account/base.html' %}

{% load bootstrap4 %}

{% block col_content %}
<div class="card">
  <div class="card-header">Sign In</div>
  <div class="card-body">
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
      <button type="submit" class="btn btn-success" style="float: right;">Sign In</button>
      {% endbuttons %}
    </form>
  </div>
</div>
<p style="float: left;">
  <a href="{% url 'account_reset_password' %}">Forgotten your password?</a>
</p>
<p style="float: right;">
  <a href="{% url 'account_signup' %}">Register</a>
</p>
{% endblock col_content %}
