{% extends 'account/base.html' %}

{% block col_content %}
<div class="card">
  <div class="card-header">Sign Out</div>
  <div class="card-body">
    <p>Are you sure you want to sign out?</p>
    <form method="post" action="/accounts/logout/">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary" style="float: right;">Sign Out</button>
    </form>
  </div>
</div>
<p style="float: right;">
  <a href="{% url 'home' %}">Cancel</a>
</p>
{% endblock col_content %}
