{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block col_content %}
<div class="card">
  <div class="card-header">{% trans "Change Password" %}</div>
  <div class="card-body">
    <h1>{% trans "Change Password" %}</h1>
    <p>{% trans 'Your password is now changed.' %}</p>
  </div>
</div>
<p style="float: right;">
  <a href="{% url 'account_login' %}">Sign In</a>
</p>
{% endblock col_content %}
