{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block col_content %}
<div class="card">
  <div class="card-header">{% trans "Password Reset" %}</div>
  <div class="card-body">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
  </div>
</div>
<p style="float: right;">
  <a href="{% url 'account_login' %}">Sign In</a>
</p>
{% endblock col_content %}

