{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block col_content %}
<div class="card">
  <div class="card-header">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</div>
  <div class="card-body">
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans 'Change password' %}" class="btn btn-primary" style="float: right;"/>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
  </div>
</div>
<p style="float: right;">
  <a href="{% url 'account_login' %}">Sign In</a>
</p>
{% endblock col_content %}
