{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block col_content %}
<div class="card">
  <div class="card-header">{% trans "Password Reset" %}</div>
  <div class="card-body">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Reset My Password' %}" class="btn btn-primary" style="float: right; margin-bottom: 20px;"/>
    </form>
    <p style="clear: right;">{% blocktrans %}Please contact us at cap-information@ae.mpg.de if you have any trouble resetting your password.{% endblocktrans %}</p>
  </div>
</div>
<p style="float: right;">
  <a href="{% url 'account_login' %}">Sign In</a>
</p>
{% endblock col_content %}
