{% extends 'account/base.html' %}

{% load bootstrap4 %}

{% block col_content %}
<div class="card">
  <div class="card-header">Register</div>
  <div class="card-body">
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
      <button type="submit" class="btn btn-success" style="float: right;">Register</button>
      {% endbuttons %}
    </form>
    <script>
      // TODO move this to new file signup.js
      $("#id_consent").prop( "disabled", true);
      const urlParams = new URLSearchParams(window.location.search);
      $("#id_group_manager_code").val(urlParams.get('group'));
      $("#consent_link").attr("href", "/consent?code=" + urlParams.get('group'));
      checkGroupManagerCode();

      $("#id_group_manager_code").on('change', function () {
        checkGroupManagerCode();
      });

      function checkGroupManagerCode() {
        let groupManagerCode = $("#id_group_manager_code").val();
        $.get('/group_manager/check', {"groupManagerCode": groupManagerCode})
          .done(function(data) {
            console.log(data)
            if (data["valid"] == true) {
              $("#id_consent").prop( "disabled", false);
              $("#consent_link").attr("href", "/consent?code=" + groupManagerCode);
              $("#consent_link").css("pointer-events", "all");
            } else {
              $("#id_consent").prop( "disabled", true);
              $("#consent_link").css("pointer-events", "none");
            }
        });
      }
    </script>
  </div>
</div>

{{ form.media }}

<p style="float: right;">
  <a href="{% url 'account_login' %}">Sign In</a>
</p>
{% endblock col_content %}
