{% load tags %}

{% include "header.html" %}
{% include "group_manager/profile.html" %}
<div class="card-header" style="height: 60px;">
  <div style="float: left; padding-top: 8px;"><h5><b>{{tasks|length}} Task{{tasks|length|pluralize:"s"}} for {{experiment.title}}</b></h5></div>
</div>
<div class="card-body">
<table class="styled-table {{user_type}}">
    <tr style="font-weight: bold;">
      <td>Participant</td>
      <td style="text-align: center;">Status</td>
      <td style="text-align: center;">Started</td>
      <td style="text-align: center;">Completed</td>
      <td style="text-align: center;">Paid</td>
      <td style="text-align: center;">Payment received</td>
    </tr>
    {% for task in tasks.all %}
    <tr>
      <td style="text-align: center;">
        {% if not task.worker.is_deleted %}
          {{task.worker.name}}<br>({{task.participant_email}})
        {% endif %}
      </td>
      <td style="text-align: center;">{{task.state}}</td>
      <td style="text-align: center;">{{task.started_at}}</td>
      <td style="text-align: center;">{{task.completed_at|default_if_none:""}}</td>
      <td style="text-align: center;">{{task.payment.paid_at|default_if_none:""}}</td>
      <td style="text-align: center;">{{task.payment.received_at|default_if_none:""}}</td>
    </tr>
    {% endfor %}
   </table>
</div>
