{% include "header.html" %}
{% include "group_manager/profile.html" %}
<div style="padding-top: 12px; padding-right: 12px;">
  <h5><b>Experiments ({{experiments.all|length}})</b></h5>
  {% if not experiments.all %}
    There are currently no experiments assigned to your profile.
  {% else %}
    <table class="styled-table {{user_type}}">
      <thead>
        <tr style="font-weight: bold;">
          <td style="text-align: center;">Title<br>{% include "sort.html" with sort_by='title' %}</td>
          <td style="text-align: center;">Description<br>{% include "sort.html" with sort_by='description' %}</td>
          <td style="text-align: center;">URL<br>{% include "sort.html" with sort_by='url' %}</td>
          <td style="text-align: center;">Start date<br>{% include "sort.html" with sort_by='start_date' %}</td>
          <td style="text-align: center;">Expiration date<br>{% include "sort.html" with sort_by='expire_date' %}</td>
          <td style="text-align: center;">Tasks</td>
        </tr>
      </thead>
      {% for experiment in experiments.all %}
      <tr>
        <td>{{experiment.title}}</td>
        <td>{{experiment.description}}</td>
        <td>{{experiment.url}}</td>
        <td>
          {% if experiment.days_until_start < 0 %}
            Started {% widthratio experiment.days_until_start 1 -1 %} days ago
          {% elif experiment.days_until_start == 0%}
            Today
          {% else %}
            Starts in {{experiment.days_until_start}} day(s)
          {% endif %} ({{experiment.start_date}})
        </td>
        <td>
          {% if experiment.days_until_expiry < 0 %}
            Expired {% widthratio experiment.days_until_expiry 1 -1 %} days ago
          {% elif experiment.days_until_expiry == 0%}
            Today
          {% else %}
            Expires in {{experiment.days_until_expiry}} days
          {% endif %} ({{experiment.expire_date}})
        </td>
        <td style="text-align: center;">
          {% if experiment.tasks_count > 0 %}
          <a class="count" href="{{experiment.id}}/tasks">{{experiment.tasks_count}}
          {% endif %}
          </td>
      </tr>
      {% endfor %}
    </table>
  {% endif %}
</div>
