{% include "header.html" %}
{% include "group_manager/profile.html" %}
<div style="padding-top: 12px; padding-right: 12px;">
  <h5><b>Participants ({{participants|length}})</b></h5>
  {% if not participants.all %}
    There are currently no participants assigned to your profile.
  {% else %}
    <table class="styled-table {{user_type}}">
      <thead>
        <tr style="font-weight: bold;">
          <td>First name</td>
          <td>Last name</td>
          <td style="text-align: center;">Recruitment ID</td>
          <td style="text-align: center;">Email</td>
          <td>Date joined</td>
          <td>Verified</td>
          <td style="text-align: center;">Tasks</td>
        </tr>
      </thead>
    {% for participant in participants %}
    <tr>
      <td>{{participant.first_name}}</td>
      <td>{{participant.last_name}}</td>
      <td style="text-align: center;">{{participant.worker_id}}</td>
      <td style="text-align: center;">{{participant.email}}</td>
      <td>{{participant.date_joined}}</td>
      <td style="text-align: center;">
        {% if participant.is_verified %}
          <span title="Verified" style="cursor: default; font-size: large; font-weight: bold;">✓</span>
        {% endif %}
      </td>
      <td style="text-align: center;">
        {% if participant.worker_tasks_count > 0 %}
        <a class="count" href="participants/{{participant.id}}/tasks">{{participant.worker_tasks_count}}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>
