{% load tags %}

{% include "header.html" %}
{% include "group_manager/profile.html" %}
<div style="padding-top: 12px; padding-right: 12px;">
  <h5>
    <b>
      {{tasks|length}} Task{{tasks|length|pluralize:"s"}} for
      {% if not participant.is_deleted %}{{participant.full_name}} ({{participant.worker_id}})
        <i id="copy-participant-email" class="fas fa-xs fa-copy" style="cursor: pointer; color: #007bff" title="Copy email" data-participant-email="{{participant.email}}"></i>
      {% else %}
        participant with ID {{participant.id}}
      {% endif %}</b></h5>
</div>
  {% if not tasks.all %}
    There are no tasks assigned to this participant currently.
  {% else %}
    <table class="styled-table {{user_type}}">
      <tr style="font-weight: bold;">
        <td>Experiment</td>
        <td>Batch</td>
        <td style="text-align: center;">Status</td>
        <td>Started</td>
        <td>Completed</td>
        <td>Paid</td>
        <td>Payment received</td>
      </tr>
      {% for task in tasks.all %}
      <tr>
        <td>{{task.experiment.title}}</td>
        <td style="text-align: center;">{% if task.experiment.batches > 1 %}<span class="number-circle batch">{{task.batch}}</span>{% endif %}</td>
        <td style="text-align: center;">{{task.state}}</td>
        <td>{{task.started_at}}</td>
        <td>{{task.completed_at|default_if_none:""}}</td>
        <td>{{task.payment.paid_at|default_if_none:""}}</td>
        <td>{{task.payment.received_at|default_if_none:""}}</td>
      </tr>
      {% endfor %}
    </table>
  {% endif %}
</div>

<span class="frontend-module" data-name="group_manager/participant_tasks"></span>
