{% load accounts_tags %}

<div id="profile" class="{{user_type}}" style="float: left; margin-right: 15px; padding: 12px; border-bottom: solid black 3px; border-right: solid black 3px;">
  <h5><b>Profile</b></h5>
  {{user.first_name}} {{user.last_name}}<br>
  Code: <span style="font-family: monospace, monospace; ">{{user.group_manager_code}}</span><br>
  {{user.email}} <a href="{% url 'account_email' %}" style="color: #1f1ffd;"><i class="fa fa-edit"></i></a>
  <br>
  {% invitation_link user request as invitation_link %}
  <br>
  <button type="button" id="invitation-link" class="btn btn-sm btn-success" data-invitation-link="{{invitation_link}}" style="margin-left: 20px; min-width: 140px; background-color: #1f1ffd" title="Copy invitation link">Copy invitation link</button>
</div>

<script>
  $('#invitation-link').on('click', function() {
    let element = document.createElement('textarea');
    element.value = $(this).data("invitation-link");
    document.body.appendChild(element);
    element.select();
    document.execCommand('copy');
    document.body.removeChild(element);
    $('.invitation-link').text("Copy invitation link");
    $(this).text("Copied");
  });
</script>
