{% load tags %}

{% include "header.html" %}
{% include "group_manager/profile.html" %}
<div style="padding-top: 12px; padding-right: 12px;">
  <h5><b>Tasks ({{tasks|length}})</b></h5>
  {% if not tasks.all %}
    There are no tasks assigned to your profile currently.
  {% else %}
    <table class="styled-table {{user_type}}">
      <thead>
        <tr style="font-weight: bold;">
          <td>Experiment</td>
          <td>Participant</td>
          <td style="text-align: center;">Status</td>
          <td>Started</td>
          <td>Completed</td>
          <td>Paid</td>
          <td>Payment received</td>
        </tr>
      </thead>
      {% for task in tasks.all %}
      <tr>
        <td>{{task.experiment.title}}</td>
        <td style="text-align: center;">{{task.worker.name}}<br>({{task.participant_email}})</td>
        <td style="text-align: center;">{{task.state}}</td>
        <td>{{task.started_at}}</td>
        <td>{{task.completed_at|default_if_none:""}}</td>
        <td>{{task.payment.paid_at|default_if_none:""}}</td>
        <td>{{task.payment.received_at|default_if_none:""}}</td>
      </tr>
      {% endfor %}
    </table>
  {% endif %}
</div>
